force-app/main/default/flows/Advance_Payment_Rebate_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigate_to_record</name>
        <label>navigate to record</label>
        <locationX>402</locationX>
        <locationY>2270</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>AdvancePaymentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>402</locationX>
        <locationY>2162</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>navigate_to_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Advance_Payment_Approval_process_v1</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>AdvancePaymentRecord</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Add_Receipt_to_a_list</name>
        <label>Add Receipt to a list</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ListReceipts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Receipt_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Receipt_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_AED_Minus_Registration_Amount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Add_Receipt_to_a_list_0</name>
        <label>Add Receipt to a list</label>
        <locationX>534</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ListReceipts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Receipt_Picklist</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ReceiptIdList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Receipt_Picklist</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Amount_AED_Minus_Registration_Amount_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Amount_AED_Minus_Registration_Amount</name>
        <label>Amount AED Minus Registration Amount</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Amount_Rs</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>GetReceipt.Registration_Collection_Control_Report__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Total_of_selected_receipt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Amount_AED_Minus_Registration_Amount_0</name>
        <label>Amount AED Minus Registration Amount</label>
        <locationX>534</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Amount_Rs</assignToReference>
            <operator>Subtract</operator>
            <value>
                <elementReference>GetReceipt1.Registration_Collection_Control_Report__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Do_Total_of_selected_receipt_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Of_Templates_Uploaded</name>
        <label>Count Of Templates Uploaded</label>
        <locationX>534</locationX>
        <locationY>1322</locationY>
        <assignmentItems>
            <assignToReference>CountOfEmailTemplatesUploaded</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>UploadedEmailTemplateFields</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Email_Templates_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Total_of_selected_receipt</name>
        <label>Do Total of selected receipt</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>TotalOfReceipt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetReceipt.Amount_Rs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Receipts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Do_Total_of_selected_receipt_0</name>
        <label>Do Total of selected receipt</label>
        <locationX>534</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>TotalOfReceipt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>GetReceipt1.Amount_Rs__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Advance_Payment_Record</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_from_receipt</name>
        <label>Total from receipt</label>
        <locationX>292</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>TotalOfReceipt</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Receipts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_File_Name</name>
        <label>Update File Name</label>
        <locationX>402</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>get_email_communication_file.Title</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EmailCommunication</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Email_comm_file_name</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>EmailCommunication</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Communication</stringValue>
        </value>
    </constants>
    <constants>
        <name>EmailCommunication1</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Communication</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Email_Templates_Uploaded</name>
        <label>Check Email Templates Uploaded</label>
        <locationX>534</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Email_Communication_Upload</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Template_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountOfEmailTemplatesUploaded</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_email_communication_file</targetReference>
            </connector>
            <label>Template Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_more_receipts_are_needed</name>
        <label>Check if more receipts are needed</label>
        <locationX>292</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>GetReceipt1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_Checkbox_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_if_you_want_to_add_more_Receipts</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetReceipt</targetReference>
            </connector>
            <label>check Checkbox value</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>ClearedReceiptsList</name>
        <collectionReference>Get_Receipts</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Receipt__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReceiptQueriedBasedOnBookingId</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookingLookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mode__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>Other_Charges_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>DEWA Charges</stringValue>
            </value>
        </filters>
        <filters>
            <field>Other_Charges_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>NOC Charges</stringValue>
            </value>
        </filters>
        <filters>
            <field>Other_Charges_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Admin Charges</stringValue>
            </value>
        </filters>
        <filters>
            <field>Other_Charges_Type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Late Payment Charges</stringValue>
            </value>
        </filters>
        <object>Receipt__c</object>
        <outputAssignments>
            <assignToReference>Amount_Rs</assignToReference>
            <field>Amount_Rs__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Registration_Collection</assignToReference>
            <field>Registration_Collection_Control_Report__c</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Length_Of_Calculation_Sheet</name>
        <dataType>Number</dataType>
        <expression>2</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Advance Payment Rebate Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Advance Payment Rebate Creation</label>
    <loops>
        <name>Loop_on_Receipts</name>
        <label>Loop on Receipts</label>
        <locationX>402</locationX>
        <locationY>1862</locationY>
        <collectionReference>ListReceipts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>update_receipt</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Submit_for_Approval</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Advance_Payment_Record</name>
        <label>Create Advance Payment Record</label>
        <locationX>534</locationX>
        <locationY>1106</locationY>
        <assignRecordIdToReference>AdvancePaymentRecord</assignRecordIdToReference>
        <connector>
            <targetReference>Email_Communication_Upload</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>BookingLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discount_Amount__c</field>
            <value>
                <elementReference>Discount_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NPV__c</field>
            <value>
                <elementReference>NPV</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_of_Receipts__c</field>
            <value>
                <elementReference>TotalOfReceipt</elementReference>
            </value>
        </inputAssignments>
        <object>Advance_Payment_Rebate__c</object>
    </recordCreates>
    <recordLookups>
        <name>get_email_communication_file</name>
        <label>get email communication file</label>
        <locationX>402</locationX>
        <locationY>1538</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_File_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CreatedById</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Title</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Receipts</name>
        <label>Get Receipts</label>
        <locationX>292</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Addreceipts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookingLookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Mode__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotIn</operator>
            <value>
                <elementReference>ReceiptIdList</elementReference>
            </value>
        </filters>
        <filters>
            <field>Receipt_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>Advance_Payment_Rebate__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetReceipt</name>
        <label>GetReceipt</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Receipt_to_a_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Receipt_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetReceipt1</name>
        <label>GetReceipt1</label>
        <locationX>534</locationX>
        <locationY>674</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Add_Receipt_to_a_list_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Receipt_Picklist</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Email_comm_file_name</name>
        <label>Update Email comm file name</label>
        <locationX>402</locationX>
        <locationY>1754</locationY>
        <connector>
            <targetReference>Loop_on_Receipts</targetReference>
        </connector>
        <inputReference>get_email_communication_file</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_receipt</name>
        <label>update receipt</label>
        <locationX>490</locationX>
        <locationY>1970</locationY>
        <connector>
            <targetReference>Loop_on_Receipts</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_on_Receipts</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Advance_Payment_Rebate__c</field>
            <value>
                <elementReference>AdvancePaymentRecord</elementReference>
            </value>
        </inputAssignments>
        <object>Receipt__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Addreceipts</name>
        <label>Receipts</label>
        <locationX>292</locationX>
        <locationY>458</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_if_more_receipts_are_needed</targetReference>
        </connector>
        <fields>
            <name>AddReceipts1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Add Receipts&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Receipt_Picklist</name>
            <choiceReferences>ClearedReceiptsList</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Receipt</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Check_if_you_want_to_add_more_Receipts</name>
            <dataType>Boolean</dataType>
            <fieldText>Check if you want to add more Receipts</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_Advance_Payment_Rebate_Record</name>
        <label>Create Advance Payment Rebate Record</label>
        <locationX>292</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Total_from_receipt</targetReference>
        </connector>
        <fields>
            <name>BookingLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Booking</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Advance_Payment_Rebate__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Booking__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NPV</name>
            <dataType>Number</dataType>
            <fieldText>NPV</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Discount_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Discount Amount</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Description</name>
            <dataType>String</dataType>
            <fieldText>Description</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Email_Communication_Upload</name>
        <label>Email Communication Upload</label>
        <locationX>534</locationX>
        <locationY>1214</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_Of_Templates_Uploaded</targetReference>
        </connector>
        <fields>
            <name>Heading</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 12, 12); background-color: rgb(255, 255, 255);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt; Please upload the Email Communication attachment&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Email_Communication</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Email Communication</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>AdvancePaymentRecord</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>UploadedEmailTemplateFields</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>UploadedEmailTemplateFields</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>AdvancePaymentRecord</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>166</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Advance_Payment_Rebate_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>aasd</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Receipt__c</objectType>
    </variables>
    <variables>
        <name>AdvancePaymentRecord</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Amount_Rs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>bookingId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Calculation_Sheet</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Calculation Sheet</stringValue>
        </value>
    </variables>
    <variables>
        <name>CountOfEmailTemplatesUploaded</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>FileUploadSkipped</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ListReceipts</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListReceiptsFromGet</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Receipt__c</objectType>
    </variables>
    <variables>
        <name>ReceiptIdList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Registration_Collection</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TotalOfReceipt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>UploadedEmailTemplateFields</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
