force-app/main/default/flows/Audit_FinanceReceiptApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Submit_to_Audit</name>
        <label>Submit to Audit</label>
        <locationX>754</locationX>
        <locationY>866</locationY>
        <assignmentItems>
            <assignToReference>Get_Receipt.Audit_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Under Approval</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Receipt.Audit_Submitter_s_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Finance_comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Receipt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Audit_Status</name>
        <label>Update Audit Status</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Get_Receipt.Audit_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Receipt.Audit_Approver_s_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Approval_comments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Receipt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Audit_Status_2</name>
        <label>Update Audit Status 2</label>
        <locationX>314</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>Get_Receipt.Audit_Approval_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Receipt.Audit_Approver_s_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Rejection_Comment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Receipt</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Approved</name>
        <choiceText>Approved</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Audit_Approval</name>
        <choiceText>Audit Approval</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Finance_Approval</name>
        <choiceText>Finance Approval</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Rejected</name>
        <choiceText>Rejected</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Decision_2</name>
        <label>Is Admin?</label>
        <locationX>1150</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Regret_Message_Box</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_Admin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ProfileName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Admin_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_user_approve</name>
        <label>What did user choose?</label>
        <locationX>314</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>Update_Receipt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Nothing</defaultConnectorLabel>
        <rules>
            <name>Approve</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Approved</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ApprovalComments123</targetReference>
            </connector>
            <label>Approve</label>
        </rules>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Rejected</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rejection_comments</targetReference>
            </connector>
            <label>Reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_flow_start</name>
        <label>Should flow start?</label>
        <locationX>732</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Regret_Message_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt.Audit_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_s_user_s_Profile</targetReference>
            </connector>
            <label>Yes - Audit</label>
        </rules>
        <rules>
            <name>Yes_Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt.Audit_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_s_user_s_Profile</targetReference>
            </connector>
            <label>Yes - Finance</label>
        </rules>
        <rules>
            <name>Yes_Admin</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>Get_Receipt.Audit_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt.Audit_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Approval</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>What_s_user_s_Profile</targetReference>
            </connector>
            <label>Yes - Admin</label>
        </rules>
    </decisions>
    <decisions>
        <name>What_s_user_s_Profile</name>
        <label>What&apos;s user&apos;s Profile?</label>
        <locationX>732</locationX>
        <locationY>650</locationY>
        <defaultConnector>
            <targetReference>Decision_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Screen</targetReference>
            </connector>
            <label>Audit</label>
        </rules>
        <rules>
            <name>Finance</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Finance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finance_Screen</targetReference>
            </connector>
            <label>Finance</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Audit-FinanceReceiptApproval {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Audit-FinanceReceiptApproval</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Receipt</name>
        <label>Get Receipt</label>
        <locationX>732</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Should_flow_start</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Receipt__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Audit_Approval_Status__c</queriedFields>
        <queriedFields>Audit_Approver_s_Comments__c</queriedFields>
        <queriedFields>Audit_Submitter_s_Comments__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Admin_Update_Receipt</name>
        <label>Admin Update Receipt</label>
        <locationX>1018</locationX>
        <locationY>974</locationY>
        <inputReference>Get_Receipt</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Receipt</name>
        <label>Update Receipt</label>
        <locationX>732</locationX>
        <locationY>1358</locationY>
        <inputReference>Get_Receipt</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Admin_Screen</name>
        <label>Admin Screen</label>
        <locationX>1018</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Admin_Update_Receipt</targetReference>
        </connector>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Receipt.Receipt_Status__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Receipt.Payment_Request__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Receipt.Audit_Approval_Status__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Receipt.Audit_Approver_s_Comments__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Receipt.Audit_Submitter_s_Comments__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>Get_Receipt.Audit_History__c</objectFieldReference>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ApprovalComments123</name>
        <label>ApprovalComments123</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Audit_Status</targetReference>
        </connector>
        <fields>
            <name>Approval_comments</name>
            <fieldText>Comments(optional)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Audit_Screen</name>
        <label>Audit Screen</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Did_user_approve</targetReference>
        </connector>
        <fields>
            <name>Approve_Reject</name>
            <choiceReferences>Approved</choiceReferences>
            <choiceReferences>Rejected</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Approve/Reject</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Finance_Screen</name>
        <label>Finance Screen</label>
        <locationX>754</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Submit_to_Audit</targetReference>
        </connector>
        <fields>
            <name>Finance_comments</name>
            <fieldText>Finance comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Regret_Message_2</name>
        <label>Regret Message 2</label>
        <locationX>996</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Copy_1_of_Regret_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 20px; font-family: tahoma;&quot;&gt;Sorry, either you aren&apos;t authorized to use this process or the Receipt is ineligible for this process!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Regret_Message_Box</name>
        <label>Regret Message</label>
        <locationX>1282</locationX>
        <locationY>866</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Regret_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: tahoma; font-size: 20px;&quot;&gt;Sorry, you aren&apos;t authorized to use this flow!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Rejection_comments</name>
        <label>Rejection comments</label>
        <locationX>314</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Audit_Status_2</targetReference>
        </connector>
        <fields>
            <name>Rejection_Comment</name>
            <fieldText>Rejection Comments (Mandatory)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>606</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Receipt</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Profile.Name</elementReference>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
</Flow>
