force-app/main/default/flows/Automate_the_Process_to_check_Document_Missing.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Audit_CHRMOpsApproved_brokerReg</name>
        <label>Audit_CHRMOpsApproved_brokerReg</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>Broker_Registration__c.Channel_Ops_Approval_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.Channel_Ops_Approval_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Audit_CHRMOpsRejected_brokerReg</name>
        <label>Audit_CHRMOpsRejected_brokerReg</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <actionName>Broker_Registration__c.Audit_CHRMOpsRejected_brokerReg</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.Audit_CHRMOpsRejected_brokerReg</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BrokerExecutedDocs_brokerRegCHRM</name>
        <label>BrokerExecutedDocs_brokerRegCHRM</label>
        <locationX>2690</locationX>
        <locationY>431</locationY>
        <actionName>Broker_Registration__c.BrokerExecutedDocs_brokerRegCHRM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.BrokerExecutedDocs_brokerRegCHRM</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CHRM_ops_Approval_brokerReg</name>
        <label>CHRM ops Approval_brokerReg</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Broker_Registration__c.CHRM_ops_Approval_brokerReg</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.CHRM_ops_Approval_brokerReg</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CHRM_Ops_Approved</name>
        <label>CHRM Ops Approved</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <actionName>Broker_Registration__c.CHRM_Ops_Approved</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.CHRM_Ops_Approved</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CHRM_Ops_Rejected_Email</name>
        <label>CHRM Ops Rejected Email</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <actionName>Broker_Registration__c.CHRM_Ops_Rejected_Email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.CHRM_Ops_Rejected_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CHRMManagerRejectedNotificationToCHRM</name>
        <label>CHRMManagerRejectedNotificationToCHRM</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>Broker_Registration__c.CHRMManagerRejectedNotificationToCHRM</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.CHRMManagerRejectedNotificationToCHRM</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Notify_CHRM_Ops_all_Missing_Doc_Uploaded</name>
        <label>Notify CHRM Ops all Missing Doc Uploaded</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Broker_Registration__c.Broker_Registration_Notify_CHRM_Ops_all_Missing_Doc_Uploaded</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.Broker_Registration_Notify_CHRM_Ops_all_Missing_Doc_Uploaded</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_CHRM_to_Notify_Missing_Doc</name>
        <label>Send Email to CHRM to Notify Missing Doc</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Broker_Registration__c.Broker_Registration_Notify_CHRM_for_Mising_Document</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.Broker_Registration_Notify_CHRM_for_Mising_Document</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_If_document_is_Checked_or_Not</name>
        <label>Check If document is Checked or Not</label>
        <locationX>1502</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHRM_Uploaded_the_Missing_Doc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CP/SC ID in Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Document_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Changed_Status_to_All_Doc_Uploaded</targetReference>
            </connector>
            <label>CHRM Uploaded the Missing Doc</label>
        </rules>
        <rules>
            <name>CHRM_not_Uploaded_the_Missing_Doc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>All missing documents uploaded</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.All_Document_Uploaded__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_status_to_pending_document</targetReference>
            </connector>
            <label>CHRM not Uploaded the Missing Doc</label>
        </rules>
        <rules>
            <name>Update_CHRM_Ops_if_Agreement_is_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved - Agreement Is in process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CHRM_Ops_who_approved_the_Agreement</targetReference>
            </connector>
            <label>Update CHRM Ops if Agreement is Approved</label>
        </rules>
        <rules>
            <name>Trigger_Email_for_Approval_Process_on_Comments_change</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Validate_the_Status_to_Trigger_Email</targetReference>
            </connector>
            <label>Trigger Email for Approval Process on Comments change</label>
        </rules>
        <rules>
            <name>Executed_Agreement_sent_to_CRHM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Executed Agreement sent to CRHM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BrokerExecutedDocs_brokerRegCHRM</targetReference>
            </connector>
            <label>Executed Agreement sent to CRHM</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_is_Comments_changed</name>
        <label>Validate is Comments changed</label>
        <locationX>710</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Comments__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHRM_Ops_Approved</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validate_the_Status_to_Trigger_Email</name>
        <label>Validate the Status to Trigger Email</label>
        <locationX>1766</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_with_CHRM_OPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with CHRM OPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHRM_ops_Approval_brokerReg</targetReference>
            </connector>
            <label>Pending with CHRM OPS</label>
        </rules>
        <rules>
            <name>Rejected_by_CHRM_OPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected - Rejected by CHRM OPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHRM_Ops_Rejected_Email</targetReference>
            </connector>
            <label>Rejected by CHRM OPS</label>
        </rules>
        <rules>
            <name>Rejected_by_CHRM_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected - Rejected by CHRM Manager</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHRMManagerRejectedNotificationToCHRM</targetReference>
            </connector>
            <label>Rejected by CHRM Manager</label>
        </rules>
        <rules>
            <name>Pending_with_Ashish_Parakh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with Ashish Parakh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_CHRMOpsApproved_brokerReg</targetReference>
            </connector>
            <label>Pending with Ashish Parakh</label>
        </rules>
        <rules>
            <name>Rejected_by_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_CHRMOpsRejected_brokerReg</targetReference>
            </connector>
            <label>Rejected by Audit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Automate the Process to check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automate the Process to check Document Missing</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Changed_Status_to_All_Doc_Uploaded</name>
        <label>Changed Status to All Doc Uploaded</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Notify_CHRM_Ops_all_Missing_Doc_Uploaded</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>All missing documents uploaded</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CHRM_Ops_who_approved_the_Agreement</name>
        <label>Update CHRM Ops who approved the Agreement</label>
        <locationX>710</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Validate_is_Comments_changed</targetReference>
        </connector>
        <inputAssignments>
            <field>crmOps__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_status_to_pending_document</name>
        <label>Update the status to pending document</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Send_Email_to_CHRM_to_Notify_Missing_Doc</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>CP/SC ID in Process</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1376</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_If_document_is_Checked_or_Not</targetReference>
        </connector>
        <filterLogic>((1 OR 2 )AND 3) OR ((4 OR 13) AND 5) OR (6 AND (7 OR 8 OR 9 OR 10 OR 11 OR 12))</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CP/SC ID in Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>All missing documents uploaded</stringValue>
            </value>
        </filters>
        <filters>
            <field>All_Document_Uploaded__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved - Agreement Is in process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Comments__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending with CHRM OPS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved - Agreement Is in process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected - Rejected by CHRM OPS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected - Rejected by CHRM Manager</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending with Ashish Parakh</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected by Audit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed Agreement sent to CRHM</stringValue>
            </value>
        </filters>
        <object>Broker_Registration__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
