force-app/main/default/flows/Booking_Welcome_Letter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Welcome_Letter</name>
        <label>Send Welcome Letter</label>
        <locationX>987</locationX>
        <locationY>496</locationY>
        <actionName>SendWelcomeLetterBooking</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendWelcomeLetterBooking</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_if_mail_already_sent</name>
        <label>Check if mail already sent</label>
        <locationX>458</locationX>
        <locationY>485</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mail_not_sent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Welcome_Mail_Sent_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Welcome_Letter</targetReference>
            </connector>
            <label>Mail not sent</label>
        </rules>
    </decisions>
    <description>1 min buffer</description>
    <environments>Default</environments>
    <interviewLabel>Booking - Welcome Letter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking - Welcome Letter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <filterLogic>(1 OR 5) AND 2 AND 3 AND 4 AND 6</filterLogic>
        <filters>
            <field>Booking_Approver_Audit__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Booking_Approver_Audit__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Welcome_Mail_Sent_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Paid_Percentage__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <numberValue>9.5</numberValue>
            </value>
        </filters>
        <filters>
            <field>Paid_Percentage__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Qualification_Date__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <dateValue>2024-07-05</dateValue>
            </value>
        </filters>
        <object>Booking__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Send_Welcome_after_1_minute</name>
            <connector>
                <targetReference>Check_if_mail_already_sent</targetReference>
            </connector>
            <label>Send Welcome after 1 minute</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>LastModifiedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
</Flow>
