force-app/main/default/flows/Booking_Form_Email_Docusign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Alert_to_Last_Applicant</name>
        <label>Email Alert to Last Applicant</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Docusign_Recipient_Status_Sobha__c.Booking_Form_Email_Alert_to_Last_Applicant</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Docusign_Recipient_Status_Sobha__c.Booking_Form_Email_Alert_to_Last_Applicant</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_email_to_intermediate</name>
        <label>Send email to intermediate</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Docusign_Recipient_Status_Sobha__c.Booking_Form_Email_Alert_to_Intermediate_Applicant</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Docusign_Recipient_Status_Sobha__c.Booking_Form_Email_Alert_to_Intermediate_Applicant</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Check_if_last_applicant</name>
        <label>Check if last applicant</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Email_Alert_to_Last_Applicant</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Intermediate_Applicant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Last_Applicant__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_email_to_intermediate</targetReference>
            </connector>
            <label>Is Intermediate Applicant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Booking Form Email - Docusign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Booking Form Email - Docusign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_last_applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Envelope_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booking Form</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Envelope_Recipient_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Applicant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Docusign_Recipient_Status_Sobha__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
