force-app/main/default/flows/Broker_Registration_Escalation_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Escalation_Notification</name>
        <label>Send Escalation Notification</label>
        <locationX>710</locationX>
        <locationY>1092</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Delete_Dummy_Contact</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>finalEmailReceipient</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>dummyContact.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailTemplateId</name>
            <value>
                <elementReference>Get_Email_Template.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Set_Fields_Audit_Head</name>
        <label>Set Fields - Audit Head</label>
        <locationX>1370</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AuditApprovalReminder2_brokerReg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recepientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Audit_Head_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_Audit_Manager</name>
        <label>Set Fields - Audit Manager</label>
        <locationX>1106</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AuditApprovalEmail_brokerReg_VC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recepientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Audit_Manager_Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_CHRM_Ops_Head_Agreement</name>
        <label>Set Fields - CHRM Ops Head - Agreement</label>
        <locationX>314</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHRMOpsHeadAgrementReminder_brokerReg_VC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recepientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CHRM_Ops_Head.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_CHRM_Ops_Head_NOC</name>
        <label>Set Fields - CHRM Ops Head - NOC</label>
        <locationX>842</locationX>
        <locationY>576</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHRMopsHeadCPIDNoc_brokerReg_VC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recepientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_CHRM_Ops_Head_NOC.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_CHRM_Ops_Manager_Agreement</name>
        <label>Set Fields - CHRM Ops Manager - Agreement</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHRMOps_AgreementReminder_VC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recepientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.crmOps__r.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Fields_CHRM_Ops_Manager_NOC</name>
        <label>Set Fields - CHRM Ops Manager - NOC</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>emailTemplateName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CHRMOpsCPIDNocReminder_brokerReg</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recepientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.crmOps__r.Manager.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Escalate_for</name>
        <label>Escalate for?</label>
        <locationX>842</locationX>
        <locationY>360</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Escalate_for_Agreement_2_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved - Agreement Is in process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CHRM_Ops_Approval_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>daysChrmOpsManagerAgreement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_CHRM_Ops_Manager_Agreement</targetReference>
            </connector>
            <label>Agreement 2 Days</label>
        </rules>
        <rules>
            <name>Agreement_4_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved - Agreement Is in process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CHRM_Ops_Approval_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>daysChrmOpsHeadAgreement</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CHRM_Ops_Head</targetReference>
            </connector>
            <label>Agreement 4 Days</label>
        </rules>
        <rules>
            <name>Escalate_for_NOC_2_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOC Is in Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Broker_Sign_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>daysChrmOpsManagerNOC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_CHRM_Ops_Manager_NOC</targetReference>
            </connector>
            <label>NOC 2 Days</label>
        </rules>
        <rules>
            <name>NOC_4_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NOC Is in Process</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Broker_Sign_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>daysChrmOpsHeadNOC</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CHRM_Ops_Head_NOC</targetReference>
            </connector>
            <label>NOC 4 Days</label>
        </rules>
        <rules>
            <name>Escalate_for_Audit_Approval_2_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with Audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_to_Audit_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>daysAuditManager</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_Audit_Manager</targetReference>
            </connector>
            <label>Audit Approval 2 Days</label>
        </rules>
        <rules>
            <name>Audit_Approval_4_Days</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with Audit</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Assigned_to_Audit_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>daysAuditHead</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Fields_Audit_Head</targetReference>
            </connector>
            <label>Audit Approval 4 Days</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email</name>
        <label>Send Email</label>
        <locationX>842</locationX>
        <locationY>768</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recepientEmail</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>emailTemplateName</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Email_Template</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>date2DaysBefore</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 2</expression>
    </formulas>
    <formulas>
        <name>date4DaysBefore</name>
        <dataType>Date</dataType>
        <expression>TODAY() - 4</expression>
    </formulas>
    <formulas>
        <name>daysAuditHead</name>
        <dataType>Date</dataType>
        <expression>TODAY() - {!Get_Escalation_Configuration.Escalate_to_Audit_Head__c}</expression>
    </formulas>
    <formulas>
        <name>daysAuditManager</name>
        <dataType>Date</dataType>
        <expression>TODAY() - {!Get_Escalation_Configuration.Escalate_to_Audit_Manager__c}</expression>
    </formulas>
    <formulas>
        <name>daysChrmOpsHeadAgreement</name>
        <dataType>Date</dataType>
        <expression>TODAY() - {!Get_Escalation_Configuration.Escalate_to_CHRM_Ops_Head_Agreement__c}</expression>
    </formulas>
    <formulas>
        <name>daysChrmOpsHeadNOC</name>
        <dataType>Date</dataType>
        <expression>TODAY() - {!Get_Escalation_Configuration.Escalate_to_CHRM_Ops_Head_NOC__c}</expression>
    </formulas>
    <formulas>
        <name>daysChrmOpsManagerAgreement</name>
        <dataType>Date</dataType>
        <expression>TODAY() - {!Get_Escalation_Configuration.Escalate_to_CHRM_Ops_Manager_Agreement__c}</expression>
    </formulas>
    <formulas>
        <name>daysChrmOpsManagerNOC</name>
        <dataType>Date</dataType>
        <expression>TODAY() - {!Get_Escalation_Configuration.Escalate_to_CHRM_Ops_Manager_NOC__c}</expression>
    </formulas>
    <formulas>
        <name>finalEmailReceipient</name>
        <dataType>String</dataType>
        <expression>{!recepientEmail}+&apos;,sfnotifications@sobharealty.com&apos;</expression>
    </formulas>
    <interviewLabel>Broker Registration: Escalation Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Registration: Escalation Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Dummy_Contact</name>
        <label>Create Dummy Contact</label>
        <locationX>710</locationX>
        <locationY>984</locationY>
        <assignRecordIdToReference>dummyContact.Id</assignRecordIdToReference>
        <connector>
            <targetReference>Send_Escalation_Notification</targetReference>
        </connector>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>recepientEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>recepientEmail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>recepientEmail</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Dummy_Contact</name>
        <label>Delete Dummy Contact</label>
        <locationX>710</locationX>
        <locationY>1200</locationY>
        <inputReference>dummyContact</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_CHRM_Ops_Head</name>
        <label>Get CHRM Ops Head</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fields_CHRM_Ops_Head_Agreement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.crmOps__r.Manager.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CHRM_Ops_Head_NOC</name>
        <label>Get CHRM Ops Head</label>
        <locationX>842</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Fields_CHRM_Ops_Head_NOC</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.crmOps__r.Manager.ManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Email_Template</name>
        <label>Get Email Template</label>
        <locationX>710</locationX>
        <locationY>876</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Dummy_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>emailTemplateName</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>EmailTemplate</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Escalation_Configuration</name>
        <label>Get Escalation Configuration</label>
        <locationX>842</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Escalate_for</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Config</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Broker_Registration_Settings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Escalation_Configuration</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved - Agreement Is in process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NOC Is in Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending with Audit</stringValue>
            </value>
        </filters>
        <object>Broker_Registration__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-07-20</startDate>
            <startTime>12:10:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>dummyContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>emailTemplateName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recepientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>testEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
