force-app/main/default/flows/Broker_Registration_Docusign_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Docu_Sign_for_Agreement</name>
        <label>Docu Sign for Agreement</label>
        <locationX>483</locationX>
        <locationY>253</locationY>
        <actionName>brokerRegAgrDocuSignControler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Broker_Reg_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>brokerRegIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>brokerRegAgrDocuSignControler</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>909</locationX>
        <locationY>119</locationY>
        <assignmentItems>
            <assignToReference>Get_Broker_Reg_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agreement created and send for Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Status</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Broker Registration Docusign Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Registration Docusign Flow - Agreement</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Broker_Reg_Record</name>
        <label>Get Broker Reg Record</label>
        <locationX>830</locationX>
        <locationY>353</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Broker_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Status</name>
        <label>Update Status</label>
        <locationX>1107</locationX>
        <locationY>167</locationY>
        <connector>
            <targetReference>SPA_Docusign_Flow</targetReference>
        </connector>
        <inputReference>Get_Broker_Reg_Record</inputReference>
    </recordUpdates>
    <screens>
        <description>SPA Docusign Flow</description>
        <name>SPA_Docusign_Flow</name>
        <label>SPA Docusign Flow</label>
        <locationX>1280</locationX>
        <locationY>334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Status</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Agreement sent to broker for signature.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>36</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Docu_Sign_for_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>docuSignExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
