force-app/main/default/flows/Broker_Registration_Renewal_Notification_for_60_30_15_days.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Broker_Registration_Renewal_link_email_15_Days</name>
        <label>Broker Registration - Renewal link email - 15 Days</label>
        <locationX>1238</locationX>
        <locationY>660</locationY>
        <actionName>Broker_Registration__c.Broker_Registration_Renewal_link_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RenewalRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.Broker_Registration_Renewal_link_email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Broker_Registration_Renewal_link_email_30_Days</name>
        <label>Broker Registration - Renewal link email-30 Days</label>
        <locationX>710</locationX>
        <locationY>660</locationY>
        <actionName>Broker_Registration__c.Broker_Registration_Renewal_link_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RenewalRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.Broker_Registration_Renewal_link_email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Broker_Registration_Renewal_Notification_60_days</name>
        <label>Broker Registration - Renewal Notification - 60 days</label>
        <locationX>182</locationX>
        <locationY>660</locationY>
        <actionName>Broker_Registration__c.Broker_Registration_Renewal_link_email</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RenewalRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.Broker_Registration_Renewal_link_email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Create_Broker_Renewal_Record</name>
        <label>Copy 1 of Copy 1 of Create Broker Renewal Record</label>
        <locationX>1106</locationX>
        <locationY>468</locationY>
        <actionName>BrokerRegistrationRenewalController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Broker_Registration_Renewal_link_email_15_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>brRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BrokerRegistrationRenewalController</nameSegment>
        <outputParameters>
            <assignToReference>RenewalRecordId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Create_Broker_Renewal_Record</name>
        <label>Copy 1 of Create Broker Renewal Record</label>
        <locationX>578</locationX>
        <locationY>468</locationY>
        <actionName>BrokerRegistrationRenewalController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Broker_Registration_Renewal_link_email_30_Days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>brRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BrokerRegistrationRenewalController</nameSegment>
        <outputParameters>
            <assignToReference>RenewalRecordId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Create_Broker_Renewal_Record</name>
        <label>Create Broker Renewal Record</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <actionName>BrokerRegistrationRenewalController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Broker_Registration_Renewal_Notification_60_days</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>brRecord</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BrokerRegistrationRenewalController</nameSegment>
        <outputParameters>
            <assignToReference>RenewalRecordId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_RecordId</name>
        <label>Assign RecordId</label>
        <locationX>314</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>RenewalRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Broker_Registration_Renewal_Notification_60_days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_RecordId</name>
        <label>Copy 1 of Assign RecordId</label>
        <locationX>842</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>RenewalRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Broker_Registration_Renewal_link_email_30_Days</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_RecordId</name>
        <label>Copy 1 of Copy 1 of Assign RecordId</label>
        <locationX>1370</locationX>
        <locationY>468</locationY>
        <assignmentItems>
            <assignToReference>RenewalRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Renewal_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Broker_Registration_Renewal_link_email_15_Days</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_renewal_Record_is_Created</name>
        <label>Check If renewal Record is Created</label>
        <locationX>182</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Assign_RecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Record_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Broker_Renewal_Record</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_the_Notification_Type</name>
        <label>Check the Notification Type</label>
        <locationX>908</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X60_Days_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X60_Days_Expire_Notiifciation_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_If_renewal_Record_is_Created</targetReference>
            </connector>
            <label>60 Days Notification</label>
        </rules>
        <rules>
            <name>X30_Days_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X30_Days_Expire_Notiifciation_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_If_renewal_Record_is_Created</targetReference>
            </connector>
            <label>30 Days Notification</label>
        </rules>
        <rules>
            <name>X15_Days_Notification</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.X15_Days_Expire_Notification_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>TodayDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Check_If_renewal_Record_is_Created</targetReference>
            </connector>
            <label>15 Days Notification</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Check_If_renewal_Record_is_Created</name>
        <label>Copy 1 of Check If renewal Record is Created</label>
        <locationX>710</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_RecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Record_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_Broker_Renewal_Record</targetReference>
            </connector>
            <label>Copy 1 of No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Check_If_renewal_Record_is_Created</name>
        <label>Copy 1 of Copy 1 of Check If renewal Record is Created</label>
        <locationX>1238</locationX>
        <locationY>360</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_RecordId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewal_Record_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Create_Broker_Renewal_Record</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Broker Registration - Renewal Notification for 60,30,15 days {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Registration - Renewal Notification for 60,30,15 days</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>782</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_the_Notification_Type</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3) AND (4 OR 5) AND (6 OR (7 AND 8)) AND 9</filterLogic>
        <filters>
            <field>X60_Days_Expire_Notiifciation_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X30_Days_Expire_Notiifciation_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>X15_Days_Expire_Notification_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Renewal_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal Initiated</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Executed Agreement sent to broker</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement Executed Manually</stringValue>
            </value>
        </filters>
        <filters>
            <field>Is_Batch_Loaded__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Broker_Expiry_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Broker_Registration__c</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2023-12-07</startDate>
            <startTime>05:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>RenewalRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
