force-app/main/default/flows/Broker_Registration_NOC_Docusign_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>NOC</name>
        <label>NOC</label>
        <locationX>392</locationX>
        <locationY>359</locationY>
        <actionName>brokerRegNOCDocuSignController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Get_Broker_Record</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>brokerRegIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>brokerRegNOCDocuSignController</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Status_to_Send_for_Approval_to_UAE_Catg</name>
        <label>Assign Status to Send for Approval to UAE Catg</label>
        <locationX>832</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>Get_Broker_Record.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Send for Approval</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Status</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Broker Registration - NOC - Docusign Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Broker Registration - NOC - Docusign Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Broker_Record</name>
        <label>Get Broker Record</label>
        <locationX>646</locationX>
        <locationY>211</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Status_to_Send_for_Approval_to_UAE_Catg</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Broker_Registration__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_Status</name>
        <label>Update the Status</label>
        <locationX>963</locationX>
        <locationY>218</locationY>
        <connector>
            <targetReference>SPA_Docusign_Flow</targetReference>
        </connector>
        <inputReference>Get_Broker_Record</inputReference>
    </recordUpdates>
    <screens>
        <description>SPA Docusign Flow</description>
        <name>SPA_Docusign_Flow</name>
        <label>SPA Docusign Flow</label>
        <locationX>1134</locationX>
        <locationY>331</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Status</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Successfully Sent for Approval.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>36</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>NOC</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>docuSignExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
