force-app/main/default/flows/Business_Process_Step_Bulk_Accept_action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>update_on_bulk_Accept</name>
        <label>update on bulk Accept</label>
        <locationX>864</locationX>
        <locationY>1490</locationY>
        <actionName>InvocableBulkAccept</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Finish_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>actionName</name>
            <value>
                <elementReference>action</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </inputParameters>
        <nameSegment>InvocableBulkAccept</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assignment_from_Standard_Filter_Collection_to_collection_Variable</name>
        <label>Assignment from Standard Filter Collection to collection Variable</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ListNonAuditRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fetchNonAuditRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CountOfNonAuditAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assignment_from_Standard_Filter_Collection_to_collection_Variable</name>
        <label>Copy 1 of Assignment from Standard Filter Collection to collection Variable</label>
        <locationX>974</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ListNonAuditRecords</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_fetchNonAuditRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_CountOfNonAuditAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_CountOfNonAuditAssignment</name>
        <label>Copy 1 of CountOfNonAuditAssignment</label>
        <locationX>974</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>variableCountNonAuditRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListNonAuditRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Non_Audit_Records_found</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CountOfNonAuditAssignment</name>
        <label>CountOfNonAuditAssignment</label>
        <locationX>270</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>variableCountNonAuditRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ListNonAuditRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Non_Audit_Records_found</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Copy_1_of_fetchNonAuditRecords</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Copy 1 of fetchNonAuditRecords</label>
        <locationX>974</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_fetchNonAuditRecords</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetListBusinessProcessSteps</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fetchNonAuditRecords.Original_Queue_Id__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>00G7S000000U7nF</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fetchNonAuditRecords.Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Open</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fetchNonAuditRecords.Final_Accepted_Time__c</leftValueReference>
            <operator>IsNull</operator>
            <rightValue>
                <booleanValue>true</booleanValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Copy_1_of_Assignment_from_Standard_Filter_Collection_to_collection_Variable</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>fetchNonAuditRecords</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>fetchNonAuditRecords</label>
        <locationX>270</locationX>
        <locationY>566</locationY>
        <assignNextValueToReference>currentItem_fetchNonAuditRecords</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>GetListBusinessProcessSteps</collectionReference>
        <conditionLogic>or</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_fetchNonAuditRecords.Original_Queue_Id__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>00G7S000000U7nF</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_fetchNonAuditRecords.Status__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Open</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assignment_from_Standard_Filter_Collection_to_collection_Variable</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Action_Selected</name>
        <label>Action Selected</label>
        <locationX>864</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accept</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fetchNonAuditRecords</targetReference>
            </connector>
            <label>Accept</label>
        </rules>
        <rules>
            <name>Approve_or_Reject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>action</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Accept</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_fetchNonAuditRecords</targetReference>
            </connector>
            <label>Approve or Reject</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Non_Audit_Records_found</name>
        <label>Copy 1 of Non Audit Records found</label>
        <locationX>974</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>variableCountNonAuditRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message_Accept_before_Approve_Reject</targetReference>
            </connector>
            <label>Copy 1 of Found</label>
        </rules>
        <rules>
            <name>Copy_1_of_Non_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>variableCountNonAuditRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_selected_Ids</targetReference>
            </connector>
            <label>Copy 1 of Non Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsAuditUser</name>
        <label>IsAuditUser</label>
        <locationX>1425</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Not_Authorized_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getPublicGroupAssignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetListBusinessProcessSteps</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Non_Audit_Records_found</name>
        <label>Non Audit Records found</label>
        <locationX>270</locationX>
        <locationY>890</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>variableCountNonAuditRecords</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorMessageToAudit</targetReference>
            </connector>
            <label>Found</label>
        </rules>
        <rules>
            <name>Non_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>variableCountNonAuditRecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Show_selected_Ids</targetReference>
            </connector>
            <label>Non Found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConfirmMessage</name>
        <dataType>String</dataType>
        <expression>&apos;You are going to &apos;+{!action}+&apos; all the selected records at Once. Do you want to continue? Please confirm.&apos;</expression>
    </formulas>
    <formulas>
        <name>FinishMessage</name>
        <dataType>String</dataType>
        <expression>IF(
    {!action}==&apos;Accept&apos;, 
          &apos;All records are Accepted&apos;, 
           IF({!action}==&apos;Approve&apos;, 
                    &apos;All records are Approved&apos;, 
                     &apos;All records are Rejected&apos;
              )
 )</expression>
    </formulas>
    <interviewLabel>Business Process Step: Bulk Accept action {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business Process Step: Bulk Accept/Approve</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>GetListBusinessProcessSteps</name>
        <label>GetListBusinessProcessSteps</label>
        <locationX>864</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Action_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Business_Process_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getPublicGroupAssignment</name>
        <label>getPublicGroupAssignment</label>
        <locationX>1425</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IsAuditUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G7S000000U7nF</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Message_Accept_before_Approve_Reject</name>
        <label>Error Message Accept before Approve Reject</label>
        <locationX>754</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>errorMsgAcceptBeforeApproveReject</name>
            <fieldText>&lt;p&gt;Please Accept selected steps before Approve or Reject.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorMessageToAudit</name>
        <label>ErrorMessageToAudit</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageAuditNotAuthorized</name>
            <fieldText>&lt;p&gt;You are not authorized to Accept or Approve the selected records. Please select Audit select to Accept and select My Business Process Steps List view to Approve the records.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_screen</name>
        <label>Fault screen</label>
        <locationX>1722</locationX>
        <locationY>1598</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>fault_msg</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finish_Screen</name>
        <label>Finish Screen</label>
        <locationX>864</locationX>
        <locationY>1598</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FinishInfoMessage</name>
            <fieldText>&lt;p&gt;{!FinishMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>screen to display message if user is not from Audit department.</description>
        <name>Not_Authorized_User</name>
        <label>Not Authorized User</label>
        <locationX>1986</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;You are not authorize to bulk Accept or Approve records. Please Accept/Approve single record at one time.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_selected_Ids</name>
        <label>Show selected Ids</label>
        <locationX>864</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>update_on_bulk_Accept</targetReference>
        </connector>
        <fields>
            <name>selected_IDs</name>
            <fieldText>&lt;p&gt;{!ConfirmMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1299</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getPublicGroupAssignment</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>action</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>currentItem_fetchNonAuditRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Process_Step__c</objectType>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ListNonAuditRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Business_Process_Step__c</objectType>
    </variables>
    <variables>
        <name>variableCountNonAuditRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
