force-app/main/default/flows/Business_process_step_acceptance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_email_to_owner</name>
        <label>Send email to owner</label>
        <locationX>182</locationX>
        <locationY>2090</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Success_screen</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>$User.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Accepted : Business Process Step </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>Hi Business Process step is accepted.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>useLineBreaks</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AddMemberId</name>
        <label>AddMemberId</label>
        <locationX>424</locationX>
        <locationY>1274</locationY>
        <assignmentItems>
            <assignToReference>groupMemberIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_on_members.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_on_members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Initial_accepted_date</name>
        <label>assign Initial accepted date</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Get_record.Accepted_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_OwnerId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_OwnerId</name>
        <label>Assign Owner Id</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <assignmentItems>
            <assignToReference>Get_record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_record.Final_Accepted_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RecordsToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Owner</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_1st_sequence</name>
        <label>Check 1st sequence</label>
        <locationX>545</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_owner_is_queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_1st</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_record.Sequence__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_previous_record</targetReference>
            </connector>
            <label>Not 1st</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_first_time</name>
        <label>Check first time</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Assign_OwnerId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_record.Accepted_Time__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Initial_accepted_date</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_owner_is_queue</name>
        <label>Check owner is queue</label>
        <locationX>545</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Already_assigned_error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_record.Owner:Group.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_queue_members</targetReference>
            </connector>
            <label>Owner is queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_previous_status</name>
        <label>Check previous status</label>
        <locationX>369</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Previous_Error_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_previous_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_owner_is_queue</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_status</name>
        <label>Check status</label>
        <locationX>336</locationX>
        <locationY>1466</locationY>
        <defaultConnector>
            <targetReference>Error_screen_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Actioned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>groupMemberIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Id18Digit</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_first_time</targetReference>
            </connector>
            <label>Not Actioned</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Id15digit</name>
        <dataType>String</dataType>
        <expression>MID({!Iterate_on_members.UserOrGroupId}, 0, 15)</expression>
    </formulas>
    <formulas>
        <name>Id18Digit</name>
        <dataType>String</dataType>
        <expression>CASESAFEID({!$User.Id})</expression>
    </formulas>
    <formulas>
        <name>previousStep</name>
        <dataType>Number</dataType>
        <expression>{!Get_record.Sequence__c} - 1</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Business process step acceptance {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Business process step acceptance</label>
    <loops>
        <name>Iterate_on_members</name>
        <label>Iterate on members</label>
        <locationX>336</locationX>
        <locationY>1166</locationY>
        <collectionReference>get_queue_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AddMemberId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_previous_record</name>
        <label>get previous record</label>
        <locationX>369</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_previous_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_record.Business_Process__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sequence__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>previousStep</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Process_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_queue_members</name>
        <label>get queue members</label>
        <locationX>336</locationX>
        <locationY>1058</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_record</name>
        <label>Get record</label>
        <locationX>545</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_1st_sequence</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Business_Process_Step__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>182</locationX>
        <locationY>1982</locationY>
        <connector>
            <targetReference>Send_email_to_owner</targetReference>
        </connector>
        <inputReference>RecordsToUpdate</inputReference>
    </recordUpdates>
    <screens>
        <name>Already_assigned_error</name>
        <label>Already assigned error</label>
        <locationX>754</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>already_assigned</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(247, 3, 3);&quot;&gt;This is already accepted.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen_1</name>
        <label>Error screen 1</label>
        <locationX>490</locationX>
        <locationY>1574</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_message_1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(235, 236, 240); font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, &amp;quot;Segoe UI&amp;quot;, Roboto, Oxygen, Ubuntu, &amp;quot;Fira Sans&amp;quot;, &amp;quot;Droid Sans&amp;quot;, &amp;quot;Helvetica Neue&amp;quot;, sans-serif; color: rgb(255, 17, 0);&quot;&gt;You are not authorized to take the ownership or previous steps are not completed yet. Please contact system admin for more information. &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Previous_Error_screen</name>
        <label>Previous Error screen</label>
        <locationX>457</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Prev_error</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(253, 5, 5);&quot;&gt;Please complete previous step before accepting this&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_screen</name>
        <label>Success screen</label>
        <locationX>182</locationX>
        <locationY>2198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success_message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Ownership transfer Successful.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>419</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>groupMemberIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordsToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Business_Process_Step__c</objectType>
    </variables>
</Flow>
