force-app/main/default/flows/Case_Set_Booking_on_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Copy_1_of_Set_Booking</name>
        <label>Copy 1 of Set Booking</label>
        <locationX>1370</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.CRM_Executive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.CRM_Executive__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Booking</name>
        <label>Set Booking</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.CRM_Executive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.CRM_Executive__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Booking_For_Collection</name>
        <label>Set Booking For Collection</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tower.Collection_Executive__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Tower.Collection_Executive__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Siniya_of_Set_Booking</name>
        <label>Siniya of Set Booking</label>
        <locationX>1898</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Booking__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Relationship_Manager__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Booking.CRM_Executive__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <description>Check if previues condition true</description>
        <name>Check_Customer_Care_Siniya_True</name>
        <label>Check Customer Care Siniya True</label>
        <locationX>2030</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Customer_Care_Siniya_True_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.CRM_Executive__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Siniya_of_Set_Booking</targetReference>
            </connector>
            <label>Check Customer Care Siniya True_1</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if previues condition true</description>
        <name>Check_if_previues_condition_true</name>
        <label>Check if previues condition true</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_if_previues_condition_true_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.CRM_Executive__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Booking</targetReference>
            </connector>
            <label>Check if previues condition true_1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Tower_Find</name>
        <label>Check if Tower Find</label>
        <locationX>710</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>Tower Not Find</defaultConnectorLabel>
        <rules>
            <name>Tower_Find</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Tower.Collection_Executive__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Booking_For_Collection</targetReference>
            </connector>
            <label>Tower Find</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_Unit_exisit</name>
        <label>check if Unit exisit</label>
        <locationX>908</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>Unit not Find</defaultConnectorLabel>
        <rules>
            <name>If_unit_find</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Unit.Tower__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Tower</targetReference>
            </connector>
            <label>If unit find</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Record_Types</name>
        <label>Check Record Types</label>
        <locationX>1304</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CRM_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CRM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_previues_condition_true</targetReference>
            </connector>
            <label>CRM Cases</label>
        </rules>
        <rules>
            <name>Collection_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Collection</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Unit</targetReference>
            </connector>
            <label>Collection Cases</label>
        </rules>
        <rules>
            <name>CustomerCare_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Check_if_previues_condition_true</targetReference>
            </connector>
            <label>CustomerCare Cases</label>
        </rules>
        <rules>
            <name>SINIYA_Customer_Care_Cases</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Siniya_Customer_Care</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Booking.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Customer_Care_Siniya_True</targetReference>
            </connector>
            <label>SINIYA Customer Care Cases</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if previues condition true</description>
        <name>Copy_1_of_Check_if_previues_condition_true</name>
        <label>Copy 1 of Check if previues condition true</label>
        <locationX>1502</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Check_if_previues_condition_true_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Booking.CRM_Executive__c</leftValueReference>
                <operator>WasSet</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Set_Booking</targetReference>
            </connector>
            <label>Copy 1 of Check if previues condition true_1</label>
        </rules>
    </decisions>
    <description>Save</description>
    <environments>Default</environments>
    <interviewLabel>Case: Set Booking on Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case: Set Booking on Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Booking</name>
        <label>Get Booking</label>
        <locationX>1304</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Record_Types</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Primary_Applicant_Email__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SuppliedEmail</elementReference>
            </value>
        </filters>
        <filters>
            <field>CRM_Executive__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>CRM_Executive__c</queriedFields>
        <queriedFields>Unit__c</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Tower</name>
        <label>Get Tower</label>
        <locationX>710</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Tower_Find</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Unit.Tower__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Tower__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Unit</name>
        <label>Get Unit</label>
        <locationX>908</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_Unit_exisit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Booking.Unit__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Unit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1178</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Booking</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>SuppliedEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Booking__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
