force-app/main/default/flows/Clear_Reason_for_Cancellation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Clear Reason for Cancellation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clear Reason for Cancellation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Booking</name>
        <label>Update Booking</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_For_Cancellation_D__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Unit</name>
        <label>Update Unit</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Update_Booking</targetReference>
        </connector>
        <inputAssignments>
            <field>Reason_for_Cancellation__c</field>
            <value>
                <stringValue></stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Unit</targetReference>
        </connector>
        <filterLogic>(1 OR 2 ) AND 3</filterLogic>
        <filters>
            <field>Unit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Booked</stringValue>
            </value>
        </filters>
        <filters>
            <field>Unit_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Unit__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
