force-app/main/default/flows/Collection_Report_flow_to_Update_SBTR_Payment_Date.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_for_9_7</name>
        <label>Check for 9.7</label>
        <locationX>611</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>If_it_less_than_9_7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Greter_than_9_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PercentageOfTotal</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>9.7</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SBTR</targetReference>
            </connector>
            <label>If Greter than 9.7</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>PercentageOfTotal</name>
        <dataType>Number</dataType>
        <expression>({!$Record.Total_Paid_Amount__c} /{!$Record.Total_Amount__c})*100</expression>
        <scale>3</scale>
    </formulas>
    <formulas>
        <name>todayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Collection Report flow to Update SBTR Payment Date {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Collection Report flow to Update SBTR Payment Date</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Copy_1_of_Get_Booking</name>
        <label>Copy 1 of Get  Booking</label>
        <locationX>611</locationX>
        <locationY>371</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_for_9_7</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>If_it_less_than_9_7</name>
        <label>If it less than 9.7</label>
        <locationX>743</locationX>
        <locationY>587</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Booking.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Declared_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_10__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Report__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declared_Date__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_Percentage_Gone_Down__c</field>
            <value>
                <elementReference>todayDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
        </inputAssignments>
        <object>SBTR__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SBTR</name>
        <label>Update SBTR</label>
        <locationX>479</locationX>
        <locationY>587</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Copy_1_of_Get_Booking.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Declared_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Collection_10__c</field>
            <value>
                <stringValue>Yes</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Collection_Report__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Declared_Date__c</field>
            <value>
                <elementReference>$Record.X10_As_Per_GL_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Paid_Percentage_Gone_Down__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Payment_Date__c</field>
            <value>
                <elementReference>$Record.X10_As_Per_GL_Date__c</elementReference>
            </value>
        </inputAssignments>
        <object>SBTR__c</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Booking</targetReference>
        </connector>
        <object>Collection_Report__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
