force-app/main/default/flows/Create_Sobha_Connect.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <environments>Default</environments>
    <interviewLabel>Create Sobha Connect {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sobha Connect</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Record_in_Junction_Object</name>
        <label>Create Record in Junction Object</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sobha_Connect__c</field>
            <value>
                <elementReference>InsertedSCID</elementReference>
            </value>
        </inputAssignments>
        <object>Channel_Partners__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sobha_Connect</name>
        <label>Create Sobha Connect</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignRecordIdToReference>InsertedSCID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Record_in_Junction_Object</targetReference>
        </connector>
        <inputAssignments>
            <field>Created_From_CP__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </inputAssignments>
        <object>Sobha_Connect__c</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_Sobha_Connect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Created_From_SC__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Channel_Partner__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>InsertedSCID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
