force-app/main/default/flows/Customer_Details_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>email_to_know_your_journey</name>
        <label>email to know your journey</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Client_Information__c.Send_Email_To_Client_Temp</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Client_Information__c.Send_Email_To_Client_Temp</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Is_Dataloader_true</name>
        <label>Is Dataloader true</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Dataloader_trueorFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Dataload_Identifier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20231030600</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>email_to_know_your_journey</targetReference>
            </connector>
            <label>Is Dataloader true</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NewRecord</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Customer Details Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Details Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Dataloader_true</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Dataload_Identifier__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>20231030600</stringValue>
            </value>
        </filters>
        <object>Applicant_Details__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
