force-app/main/default/flows/Dashboard_for_Handover_PS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>DEWA_Consumption_Summation</name>
        <label>DEWA Consumption Summation</label>
        <locationX>466</locationX>
        <locationY>984</locationY>
        <assignmentItems>
            <assignToReference>DewaConsumptionsummation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Receipts_loop.PropStrength__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Receipts_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>titledeed_summation</name>
        <label>titledeed summation</label>
        <locationX>748</locationX>
        <locationY>857</locationY>
        <assignmentItems>
            <assignToReference>titledeedsummation</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Receipts_loop.PropStrength__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Receipts_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>upkeepchargessummation</name>
        <label>upkeep charges summation</label>
        <locationX>264</locationX>
        <locationY>838</locationY>
        <assignmentItems>
            <assignToReference>upkeepCharges</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Receipts_loop.PropStrength__Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Receipts_loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_No_Bookings</name>
        <label>If No Bookings</label>
        <locationX>223</locationX>
        <locationY>533</locationY>
        <defaultConnector>
            <targetReference>Get_Receipts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Bookings</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Bookings</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoBooking</targetReference>
            </connector>
            <label>No Bookings</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Other_Charges_type</name>
        <label>Verify Other Charges type</label>
        <locationX>485</locationX>
        <locationY>741</locationY>
        <defaultConnector>
            <targetReference>Receipts_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Upkeep_Charges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Receipts_loop.PropStrength__Amount_Due_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Upkeep Charges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>upkeepchargessummation</targetReference>
            </connector>
            <label>If Upkeep Charges</label>
        </rules>
        <rules>
            <name>If_DEWA_Consumption_Charges</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Receipts_loop.PropStrength__Amount_Due_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DEWA Charges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DEWA_Consumption_Summation</targetReference>
            </connector>
            <label>If DEWA Consumption Charges</label>
        </rules>
        <rules>
            <name>If_title_deed_fee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Receipts_loop.PropStrength__Amount_Due_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Title Deed Charges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>titledeed_summation</targetReference>
            </connector>
            <label>If title deed fee</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Remarks</name>
        <dataType>String</dataType>
        <expression>if(IsBlank({!Get_Bookings.Remarks__c}),{!Remarks1},({!Get_Bookings.Remarks__c}+&apos;,&apos;+{!Remarks1}))</expression>
    </formulas>
    <interviewLabel>Dashboard for Handover PS {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Dashboard for Handover PS</label>
    <loops>
        <name>Receipts_loop</name>
        <label>Receipts loop</label>
        <locationX>461</locationX>
        <locationY>525</locationY>
        <collectionReference>Get_Receipts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Verify_Other_Charges_type</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_RecordType_HandOver</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Bookings</name>
        <label>Get Bookings</label>
        <locationX>270</locationX>
        <locationY>376</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Payment_Received_Record_Type_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PropStrength__Property__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitLookup.recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>PropStrength__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Booking_Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>PropStrength__Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PropStrength__Application_Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_income_charge_due</name>
        <label>Get income charge due</label>
        <locationX>1079</locationX>
        <locationY>437</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Dashboard1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Dashboard1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PropStrength__Application_Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bookings.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomeChargeDue</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PropStrength__Received_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_income_charge_received</name>
        <label>Get income charge received</label>
        <locationX>910</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_income_charge_due</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Dashboard1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PropStrength__Application_Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bookings.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>incomeChargeReceived</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PropStrength__Received_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Payment_Received_Record_Type_Id</name>
        <label>Get Payment Received Record Type Id</label>
        <locationX>135</locationX>
        <locationY>372</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Second_Applicant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PropStrength__Received_Payment__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Payment_Received</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Receipts</name>
        <label>Get Receipts</label>
        <locationX>501</locationX>
        <locationY>344</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Receipts_loop</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Get_RecordType_HandOver</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PropStrength__Application_Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bookings.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varRecordTypeId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PropStrength__Received_Payment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_HandOver</name>
        <label>Get RecordType HandOver</label>
        <locationX>616</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_Home_Orientation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Income_Charge_Received</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PropStrength__Received_Payment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>incomeChargeReceived</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Home_Orientation</name>
        <label>Get RecordType Home_Orientation</label>
        <locationX>772</locationX>
        <locationY>445</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_income_charge_received</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Income_Charge_Due</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PropStrength__Received_Payment__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>incomeChargeDue</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Second_Applicant</name>
        <label>Get Second Applicant</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_No_Bookings</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PropStrength__Application__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bookings.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PropStrength__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2nd Applicant</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PropStrength__Applicant_Detail__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Units</name>
        <label>Get Units</label>
        <locationX>405</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Bookings</targetReference>
        </connector>
        <faultConnector>
            <targetReference>SomethingwentWrong_0</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UnitLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PropStrength__Property__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_booking</name>
        <label>Update booking</label>
        <locationX>903</locationX>
        <locationY>596</locationY>
        <faultConnector>
            <targetReference>SomethingwentWrong</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Bookings.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remarks</elementReference>
            </value>
        </inputAssignments>
        <object>PropStrength__Application_Booking__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Dashboard1</name>
        <label>Dashboard1</label>
        <locationX>1022</locationX>
        <locationY>606</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_booking</targetReference>
        </connector>
        <fields>
            <name>Dashboard1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>UnitNumber</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt;Unit Number : {!Get_Units.PropStrength__House_Unit_No__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section1_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section1_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BookingId</name>
                    <fieldText>&lt;p&gt;Booking Id : {!Get_Bookings.Name}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Booking_Date</name>
                    <fieldText>&lt;p&gt;Booking Date :  {!Get_Bookings.PropStrength__Booking_Date__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section2_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Type</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Type : {!Get_Units.PropStrength__Unit_Type__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalesHead</name>
                    <fieldText>&lt;p&gt;Sales Head : {!Get_Bookings.Sales_Head__r.FirstName} {!Get_Bookings.Sales_Head__r.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section3_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Address</name>
                    <fieldText>&lt;p&gt;Address : {!Get_Bookings.PropStrength__Applicant_Address__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DLD_Fees</name>
                    <fieldText>&lt;p&gt;DLD Fees : {!Get_income_charge_due.PropStrength__Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section4_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section4_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DLD_Collected_Amount</name>
                    <fieldText>&lt;p&gt;DLD Collected Amount : {!Get_income_charge_received.PropStrength__Amount__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Preregistrationstatus</name>
                    <fieldText>&lt;p&gt;Pre-Registration Status : {!Get_Bookings.Pre_Registration_Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section5_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section5_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InspectionStatus</name>
                    <fieldText>&lt;p&gt;Inspection Status : {!Get_Bookings.Slot_Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>InspectionDate</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Inspection Date :  {!Get_Bookings.Slot_Scheduled_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section6_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section6_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PccStatus</name>
                    <fieldText>&lt;p&gt;Pcc Status : &lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!Get_Bookings.PCC_Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Primary_Applicant1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Primary Applicant :  {!Get_Bookings.PropStrength__Primary_Applicant_Name__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section7_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section7_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Nationality1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Nationality : {!Get_Bookings.PropStrength__Primary_Customer__r.PropStrength__Nationality__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Source1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Source :  {!Get_Bookings.PropStrength__Booking_Through__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section8_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section8_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SalesManager1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Sales Manager : {!Get_Bookings.Sales_Manager__r.FirstName}  {!Get_Bookings.Sales_Manager__r.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Phone_Number1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Phone Number :  {!Get_Bookings.PropStrength__Primary_Customer__r.MobilePhone}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section9_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section9_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPAStatus1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;SPA Status : {!Get_Bookings.SPA_Executed__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SPA_Executed_Date1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;SPA Executed Date : {!Get_Bookings.SPA_Execution_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section10_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section10_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SFStatus1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;SF Status : {!Get_Bookings.PropStrength__Status__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HandoverStatus1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Handover Status : {!Get_Bookings.Handover_Completed__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section11_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section11_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>HandoverDate1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Handover Date :  {!Get_Bookings.Handover_Date__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EmailId1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Email Id : {!Get_Bookings.PropStrength__Primary_Customer__r.Email}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section12_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section12_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SecondaryApplicant1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Secondary Applicant :  {!Get_Second_Applicant.PropStrength__Customer_Name__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PurchasePrice1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Purchase Price : {!Get_Bookings.PropStrength__Revised_Total_Sales_Consideration__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section13_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section13_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SaleableArea1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Saleable Area sq.Ft :  {!Get_Units.Super_Area_Sq_Mtr__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Collectedpercentage1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt; Collected % :  {!Get_Bookings.PropStrength__Total_Paid_Percent__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section14_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section14_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BrokerName1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;Broker Name : {!Get_Bookings.PropStrength__Broker__r.Name}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DueAmount1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Due Amount : {!Get_Bookings.PropStrength__Total_Payment_Due__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section15_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section15_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Duepercentage1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Due % : {!Get_Bookings.PropStrength__Total_Due_Percent__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section16_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Titledeedstatus1</name>
                    <fieldText>&lt;p&gt;Title Deed Status : {!Get_Bookings.Title_Deed_Status__c}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section16_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section16_Column4</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TitleDeedfeepayment2</name>
                    <fieldText>&lt;p&gt;Title Deed Fee Payment :{!titledeedsummation}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section17</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section17_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section17_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AmountCollected1</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;Amount Collected : {!Get_Bookings.PropStrength__Total_Payment_Received__c}&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section17_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section17_Column4</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>5</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Dashboard1_Section18</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Dashboard1_Section18_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section18_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remarks1</name>
                    <dataType>String</dataType>
                    <fieldText>Remarks :</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>10</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Dashboard1_Section18_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>1</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>NoBooking</name>
        <label>NoBooking</label>
        <locationX>373</locationX>
        <locationY>604</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoBookings</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; color: rgb(5, 5, 92);&quot;&gt;No Bookings To Display!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectUnitScreen</name>
        <label>SelectUnitScreen</label>
        <locationX>262</locationX>
        <locationY>208</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Units</targetReference>
        </connector>
        <fields>
            <name>UnitLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>PropStrength__Property__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Unit</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>PropStrength__Application_Booking__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SomethingwentWrong</name>
        <label>SomethingwentWrong</label>
        <locationX>773</locationX>
        <locationY>597</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoBookings_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(137, 3, 47); font-size: 18px;&quot;&gt;Sorry! Something Went Wrong!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SomethingwentWrong_0</name>
        <label>SomethingwentWrong</label>
        <locationX>553</locationX>
        <locationY>255</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>NoBookings_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(137, 3, 47); font-size: 18px;&quot;&gt;Sorry! Something Went Wrong!!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>136</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>SelectUnitScreen</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DewaConsumptionsummation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>DEWAUpkeepSummation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>incomeChargeDue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>incomeChargeReceived</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>titledeedsummation</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>upkeepCharges</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
