force-app/main/default/flows/Demand_Late_Payment_Notification_To_Customer_From_Button.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Invoice_Notification</name>
        <label>Send Invoice Notification</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>DemandGeneratorManager</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>demandList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DemandGeneratorManager</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_LP_Demand_Notification</name>
        <label>Send LP Demand Notification</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>LatePaymentManager</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>demandList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>LatePaymentManager</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Notification_Type</name>
        <label>Notification Type</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Late_Payment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isLPSend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_LP_Demand_Notification</targetReference>
            </connector>
            <label>Late Payment</label>
        </rules>
        <rules>
            <name>Installment_Notice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.isDemandNoticeSend__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Invoice_Notification</targetReference>
            </connector>
            <label>Installment Notice</label>
        </rules>
    </decisions>
    <description>This method will send email to customer for late payment charges or Installment Notice</description>
    <environments>Default</environments>
    <interviewLabel>Demand : Late Payment Notification To Customer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Demand : Charges Notification To Customer</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Notification_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>(1 AND 2 AND 3) OR (3 AND 4 AND 5)</filterLogic>
        <filters>
            <field>isLPSend__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Milestone_Name__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Late Payment Charges</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>isDemandNoticeSend__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Payment_Milestones__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Demand__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
