force-app/main/default/flows/DSPA_DocuSign_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_DSPA_to_Customer</name>
        <label>Send DSPA to Customer</label>
        <locationX>249</locationX>
        <locationY>291</locationY>
        <actionName>SPADocusignBookingHandler1</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DocuSign_Status_Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPADocusignBookingHandler1</nameSegment>
        <outputParameters>
            <assignToReference>docuSignExists</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_to_Docusign</name>
        <label>Send to Docusign</label>
        <locationX>904</locationX>
        <locationY>315</locationY>
        <actionName>DSPADocusignBookingHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DSPA_Docusign_Flow</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DSPADocusignBookingHandler</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>DocuSign_Status_Check</name>
        <label>DocuSign Status Check</label>
        <locationX>583</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Send_to_Docusign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DocuSign_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>docuSignExists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Message</targetReference>
            </connector>
            <label>DocuSign Progress</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>DSPA DocuSign Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DSPA DocuSign Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Message</name>
        <label>Display Message</label>
        <locationX>606</locationX>
        <locationY>586</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;DocuSign status is in progress, Please complete/Void the existing Envelop before sending&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DSPA_Docusign_Flow</name>
        <label>DSPA Docusign Flow</label>
        <locationX>1251</locationX>
        <locationY>332</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>status</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;DSPA successfully sent for signature(s)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>40</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Send_DSPA_to_Customer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>docuSignExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
