force-app/main/default/flows/Email_to_Hospitality_in_event_cancallation_or_Date_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Date_Rescheduled</name>
        <label>Date Rescheduled</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Events__c.Date_Change_Email_Alert_to_Hospitality</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Events__c.Date_Change_Email_Alert_to_Hospitality</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Event_Cancelled_Email</name>
        <label>Event Cancelled Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Events__c.Event_cancellation_Email_Alert_to_Hospitality</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Events__c.Event_cancellation_Email_Alert_to_Hospitality</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Check_Event_Cancelled_or_Rescheduled</name>
        <label>Check Event Cancelled or Rescheduled</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Event_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Final_Event_Approval_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Event_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Event_Cancelled_Email</targetReference>
            </connector>
            <label>Event Cancelled</label>
        </rules>
        <rules>
            <name>Event_Re_scheduled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Final_Event_Approval_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Postponed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Date_Rescheduled</targetReference>
            </connector>
            <label>Event Re-scheduled</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email to {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email to Hospitality in event cancallation or Date change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Event_Cancelled_or_Rescheduled</targetReference>
        </connector>
        <filterLogic>(1 OR 2) AND ((3 AND 4) OR (5 OR 6 OR  7 OR 8))</filterLogic>
        <filters>
            <field>Event_Approved_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Venue Cost Pending Approval - CSO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Event_Approved_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Venue Cost Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Final_Event_Approval_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Final_Event_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancel</stringValue>
            </value>
        </filters>
        <filters>
            <field>Date_Of_Event__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>End_Date_Of_Event__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Text_Old_Start_Time__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Final_Event_Approval_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Postponed</stringValue>
            </value>
        </filters>
        <object>Events__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
