force-app/main/default/flows/Event_Marketing_file_upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_File_Id</name>
        <label>Assign File Id</label>
        <locationX>51</locationX>
        <locationY>423</locationY>
        <assignmentItems>
            <assignToReference>DSRFileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_File_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_File_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_File_Ids</name>
        <label>Count of File Ids</label>
        <locationX>813</locationX>
        <locationY>87</locationY>
        <assignmentItems>
            <assignToReference>CountofDSRFileIds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CustomerSignedDSRFileIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Uploaded</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Uploaded</name>
        <label>Check Uploaded</label>
        <locationX>805</locationX>
        <locationY>293</locationY>
        <defaultConnector>
            <targetReference>Update_Marketing_Attachment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofDSRFileIds</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_File_Ids</targetReference>
            </connector>
            <label>File Uploaded</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Event - Marketing file upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Event - Marketing file upload</label>
    <loops>
        <name>Loop_over_File_Ids</name>
        <label>Loop over File Ids</label>
        <locationX>899</locationX>
        <locationY>514</locationY>
        <collectionReference>CustomerSignedDSRFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_File_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_File_name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordUpdates>
        <name>Update_File_name</name>
        <label>Update File name</label>
        <locationX>249</locationX>
        <locationY>629</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DSRFileId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>CustomerSignedDSRFilename</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Update_Marketing_Attachment</name>
        <label>Upload Marketing Attachment</label>
        <locationX>605</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_of_File_Ids</targetReference>
        </connector>
        <fields>
            <name>Customer_Signed_DSR</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Upload Marketing Attachment </stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>CustomerSignedDSRFileIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CustomerSignedDSRFileIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>73</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Update_Marketing_Attachment</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>CountofDSRFileIds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountofExistingDSRFiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CustomerSignedDSRFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerSignedDSRFilename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Marketing Attachment</stringValue>
        </value>
    </variables>
    <variables>
        <name>DSRExistingFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>DSRFileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
