force-app/main/default/flows/Format_and_Update_ApplicantDetail_Name_on_Primary_Applicant_DocGen_Package.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Formatted_Address</name>
        <label>Formatted Address</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Address_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Address_Formatted_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passport_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Address_When_Empty</name>
        <label>Formatted Address When Empty</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Address_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Address_Formatted_Formula_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passport_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Name</name>
        <label>Formatted Name</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Name_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Name_Formatted_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Name_When_Empty</name>
        <label>Formatted Name When Empty</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Name_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Name_Formatted_Formula_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Passport</name>
        <label>Formatted Passport</label>
        <locationX>402</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Passport_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Passport_Formatted_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Applicants</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Passport_When_Empty</name>
        <label>Formatted Passport When Empty</label>
        <locationX>138</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Passport_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Passport_Formatted_Formula_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Applicants</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_formatted_Is_Empty</name>
        <label>Address_formatted_Is_Empty</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Formatted_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Address_Formatted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formatted_Address_When_Empty</targetReference>
            </connector>
            <label>Yes_Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Applicant_Details_Record_Exist</name>
        <label>Applicant Details Record Exist?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No Record Available</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Applicant_Details</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Related_Applicants</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_formatted_Is_Empty</name>
        <label>Name_formatted_Is_Empty</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Formatted_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Name_Formatted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formatted_Name_When_Empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Passport_formatted_Is_Empty</name>
        <label>Passport_formatted_Is_Empty</label>
        <locationX>270</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Formatted_Passport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Passport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Passport_Formatted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formatted_Passport_When_Empty</targetReference>
            </connector>
            <label>Yes_Passport</label>
        </rules>
    </decisions>
    <description>Quick fix to handle null booking ids</description>
    <environments>Default</environments>
    <formulas>
        <name>Address_Formatted_Formula</name>
        <dataType>String</dataType>
        <expression>&apos; &amp; &apos;  &amp;{!Loop_Over_Related_Applicants.Mailing_Address_Merge__c}</expression>
    </formulas>
    <formulas>
        <name>Address_Formatted_Formula_2</name>
        <dataType>String</dataType>
        <expression>{!Loop_Over_Related_Applicants.Mailing_Address_Merge__c}</expression>
    </formulas>
    <formulas>
        <name>Name_Formatted_Formula</name>
        <dataType>String</dataType>
        <expression>&apos; &amp; &apos;  &amp; TEXT({!Loop_Over_Related_Applicants.Salutation__c})&amp;&apos;. &apos;&amp;{!Loop_Over_Related_Applicants.Name}</expression>
    </formulas>
    <formulas>
        <name>Name_Formatted_Formula_2</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loop_Over_Related_Applicants.Salutation__c})&amp;&apos;. &apos;&amp;{!Loop_Over_Related_Applicants.Name}</expression>
    </formulas>
    <formulas>
        <name>Passport_Formatted_Formula</name>
        <dataType>String</dataType>
        <expression>&apos; &amp; &apos;  &amp; {!Loop_Over_Related_Applicants.Passport_Copy_Details__c}</expression>
    </formulas>
    <formulas>
        <name>Passport_Formatted_Formula_2</name>
        <dataType>String</dataType>
        <expression>{!Loop_Over_Related_Applicants.Passport_Copy_Details__c}</expression>
    </formulas>
    <formulas>
        <name>Remove_Extra_Ampercent</name>
        <dataType>String</dataType>
        <expression>LEFT({!Name_Formatted}, LEN({!Name_Formatted}) - 3)</expression>
    </formulas>
    <interviewLabel>Format and Update ApplicantDetail Name on Primary Applicant - DocGen Package {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Format and Update ApplicantDetail Name on Primary Applicant - DocGen Package</label>
    <loops>
        <name>Loop_Over_Related_Applicants</name>
        <label>Loop Over Related Applicants</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Related_Applicant_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Name_formatted_Is_Empty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Formatted_Name_On_Primary_Applicant</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Applicant_Details</name>
        <label>Get Related Applicant Details Records</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Applicant_Details_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Applicant_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Formatted_Name_On_Primary_Applicant</name>
        <label>Update Formatted Name On Primary Applicant</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Applicant_Number__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Applicant</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Formatted_Applicant_Address_For_Docgen__c</field>
            <value>
                <elementReference>Address_Formatted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Applicant_Name_For_Docgen__c</field>
            <value>
                <elementReference>Name_Formatted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Applicant_Passport_For_Docgen__c</field>
            <value>
                <elementReference>Passport_Formatted</elementReference>
            </value>
        </inputAssignments>
        <object>Applicant_Details__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Applicant_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Applicant_Details__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Address_Formatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name_Formatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Passport_Formatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
