force-app/main/default/flows/Format_and_Update_Buyer_Details.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Email_When_Empty</name>
        <label>EMail When Empty</label>
        <locationX>138</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>Email_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Email_Formatted_Formula_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Buyers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Address</name>
        <label>Formatted Address</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Address_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Address_Formatted_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passport_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Address_When_Empty</name>
        <label>Formatted Address When Empty</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>Address_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Address_Formatted_Formula_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Passport_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Email</name>
        <label>Formatted Email</label>
        <locationX>402</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>Email_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Email_Formatted_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_Related_Buyers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Name</name>
        <label>Formatted Name</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Name_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Name_Formatted_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Name_When_Empty</name>
        <label>Formatted Name When Empty</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Name_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Name_Formatted_Formula_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Address_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Nationality</name>
        <label>Formatted Nationality</label>
        <locationX>402</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Nationality_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Nationality_Formatted_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phone_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Nationality_When_Empty</name>
        <label>Formatted Nationality When Empty</label>
        <locationX>138</locationX>
        <locationY>1655</locationY>
        <assignmentItems>
            <assignToReference>Nationality_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Nationality_Formatted_Formula_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Phone_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Passport</name>
        <label>Formatted Passport</label>
        <locationX>402</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Passport_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Passport_Formatted_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nationality_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Passport_When_Empty</name>
        <label>Formatted Passport When Empty</label>
        <locationX>138</locationX>
        <locationY>1355</locationY>
        <assignmentItems>
            <assignToReference>Passport_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Passport_Formatted_Formula_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Nationality_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Phone</name>
        <label>Formatted Phone</label>
        <locationX>402</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>Phone_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Phone_Formatted_Formula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Formatted_Phone_When_Empty</name>
        <label>Formatted Phone When Empty</label>
        <locationX>138</locationX>
        <locationY>1955</locationY>
        <assignmentItems>
            <assignToReference>Phone_Formatted</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Phone_Formatted_Formula_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_formatted_Is_Empty</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Address_formatted_Is_Empty</name>
        <label>Address_formatted_Is_Empty</label>
        <locationX>270</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Formatted_Address</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Address</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Address_Formatted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formatted_Address_When_Empty</targetReference>
            </connector>
            <label>Yes Address</label>
        </rules>
    </decisions>
    <decisions>
        <name>Buyer_Details_Record_Exist</name>
        <label>Buyer Details Record Exist?</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Buyers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_Related_Buyers</targetReference>
            </connector>
            <label>Yes Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Email_formatted_Is_Empty</name>
        <label>Email_formatted_Is_Empty</label>
        <locationX>270</locationX>
        <locationY>2147</locationY>
        <defaultConnector>
            <targetReference>Formatted_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Email_Formatted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_When_Empty</targetReference>
            </connector>
            <label>Yes_Email</label>
        </rules>
    </decisions>
    <decisions>
        <name>Name_formatted_Is_Empty</name>
        <label>Name_formatted_Is_Empty</label>
        <locationX>270</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Formatted_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_Formatted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formatted_Name_When_Empty</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Nationality_formatted_Is_Empty</name>
        <label>Nationality_formatted_Is_Empty</label>
        <locationX>270</locationX>
        <locationY>1547</locationY>
        <defaultConnector>
            <targetReference>Formatted_Nationality</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Nationality</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Nationality_Formatted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formatted_Nationality_When_Empty</targetReference>
            </connector>
            <label>Yes_Nationality</label>
        </rules>
    </decisions>
    <decisions>
        <name>Passport_formatted_Is_Empty</name>
        <label>Passport_formatted_Is_Empty</label>
        <locationX>270</locationX>
        <locationY>1247</locationY>
        <defaultConnector>
            <targetReference>Formatted_Passport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Passport</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Passport_Formatted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formatted_Passport_When_Empty</targetReference>
            </connector>
            <label>Yes_Passport</label>
        </rules>
    </decisions>
    <decisions>
        <name>Phone_formatted_Is_Empty</name>
        <label>Phone_formatted_Is_Empty</label>
        <locationX>270</locationX>
        <locationY>1847</locationY>
        <defaultConnector>
            <targetReference>Formatted_Phone</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Phone</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Phone_Formatted</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formatted_Phone_When_Empty</targetReference>
            </connector>
            <label>Yes_Phone</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Address_Formatted_Formula</name>
        <dataType>String</dataType>
        <expression>&apos; &amp; &apos;  &amp;{!Loop_Over_Related_Buyers.Address__c}</expression>
    </formulas>
    <formulas>
        <name>Address_Formatted_Formula_2</name>
        <dataType>String</dataType>
        <expression>{!Loop_Over_Related_Buyers.Address__c}</expression>
    </formulas>
    <formulas>
        <name>Email_Formatted_Formula</name>
        <dataType>String</dataType>
        <expression>&apos; &amp; &apos;  &amp;{!Loop_Over_Related_Buyers.Email__c}</expression>
    </formulas>
    <formulas>
        <name>Email_Formatted_Formula_2</name>
        <dataType>String</dataType>
        <expression>{!Loop_Over_Related_Buyers.Email__c}</expression>
    </formulas>
    <formulas>
        <name>Name_Formatted_Formula</name>
        <dataType>String</dataType>
        <expression>&apos; &amp; &apos;  &amp; TEXT({!Loop_Over_Related_Buyers.Salutation__c})&amp;&apos;. &apos;&amp;{!Loop_Over_Related_Buyers.Name}</expression>
    </formulas>
    <formulas>
        <name>Name_Formatted_Formula_2</name>
        <dataType>String</dataType>
        <expression>TEXT({!Loop_Over_Related_Buyers.Salutation__c})&amp;&apos;. &apos;&amp;{!Loop_Over_Related_Buyers.Name}</expression>
    </formulas>
    <formulas>
        <name>Nationality_Formatted_Formula</name>
        <dataType>String</dataType>
        <expression>&apos; &amp; &apos;  &amp;Text({!Loop_Over_Related_Buyers.Nationality__c})</expression>
    </formulas>
    <formulas>
        <name>Nationality_Formatted_Formula_2</name>
        <dataType>String</dataType>
        <expression>Text({!Loop_Over_Related_Buyers.Nationality__c})</expression>
    </formulas>
    <formulas>
        <name>Passport_Formatted_Formula</name>
        <dataType>String</dataType>
        <expression>&apos; &amp; &apos;  &amp; {!Loop_Over_Related_Buyers.Passport_Number__c}</expression>
    </formulas>
    <formulas>
        <name>Passport_Formatted_Formula_2</name>
        <dataType>String</dataType>
        <expression>{!Loop_Over_Related_Buyers.Passport_Number__c}</expression>
    </formulas>
    <formulas>
        <name>Phone_Formatted_Formula</name>
        <dataType>String</dataType>
        <expression>&apos; &amp; &apos;  &amp;{!Loop_Over_Related_Buyers.Phone_Number__c}</expression>
    </formulas>
    <formulas>
        <name>Phone_Formatted_Formula_2</name>
        <dataType>String</dataType>
        <expression>{!Loop_Over_Related_Buyers.Phone_Number__c}</expression>
    </formulas>
    <interviewLabel>Format and Update Buyer Details {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Format and Update Buyer Details</label>
    <loops>
        <name>Loop_Over_Related_Buyers</name>
        <label>Loop Over Related Buyers</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <collectionReference>Get_Related_Buyers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Name_formatted_Is_Empty</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Formatted_Name_On_Buyer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Buyers</name>
        <label>Get Related Buyers</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Buyer_Details_Record_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resale_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resale_Process__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Buyer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Formatted_Name_On_Buyer</name>
        <label>Update Formatted Name On Buyer</label>
        <locationX>50</locationX>
        <locationY>2531</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Resale_Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Resale_Process__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Buyer_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Primary Applicant</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Formatted_Applicant_Address_For_Docgen__c</field>
            <value>
                <elementReference>Address_Formatted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Applicant_Email_For_Docgen__c</field>
            <value>
                <elementReference>Email_Formatted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Applicant_Name_For_Docgen__c</field>
            <value>
                <elementReference>Name_Formatted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Applicant_Nationality_Docgen__c</field>
            <value>
                <elementReference>Nationality_Formatted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Applicant_Passport_For_Docgen__c</field>
            <value>
                <elementReference>Passport_Formatted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Formatted_Applicant_Phone_For_Docgen__c</field>
            <value>
                <elementReference>Phone_Formatted</elementReference>
            </value>
        </inputAssignments>
        <object>Buyer__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Buyers</targetReference>
        </connector>
        <object>Buyer__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>Address_Formatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Email_Formatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name_Formatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Nationality_Formatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Passport_Formatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Phone_Formatted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
