force-app/main/default/flows/Generate_LatePaymentWaiver.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>navigate_to_lpw</name>
        <label>navigate to lpw</label>
        <locationX>578</locationX>
        <locationY>1574</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>lpwId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_total_amount</name>
        <label>Assign total amount</label>
        <locationX>600</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>TotalAmount</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_LPW.LP_Amount_To_Be_Waived__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_LPW</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Verify_Amount</name>
        <label>Verify Amount</label>
        <locationX>710</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Valid_Input</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RemainedDemandAmount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>Enter_WaiverAmount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_LPWaiver</targetReference>
            </connector>
            <label>Valid Input</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Existing_lpw</name>
        <label>Verify Existing lpw</label>
        <locationX>281</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Get_all_LPW</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>lpw_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lp_Waiver_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LPExist</targetReference>
            </connector>
            <label>lpw exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Record_is_Eligible_for_Waiver</name>
        <label>Verify Record is Eligible for Waiver</label>
        <locationX>512</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Waiver_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Waiver_should_not_apply</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TotalAmount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Demand.Total_Amount_with_Tax_Demanded__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>No_Waiver</targetReference>
            </connector>
            <label>Waiver should not apply</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>RemainedDemandAmount</name>
        <dataType>Number</dataType>
        <expression> {!Get_Demand.Total_Amount_with_Tax_Demanded__c} - {!TotalAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Generate LatePaymentWaiver {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate LatePaymentWaiver</label>
    <loops>
        <name>Loop_LPW</name>
        <label>Loop LPW</label>
        <locationX>512</locationX>
        <locationY>638</locationY>
        <collectionReference>Get_all_LPW</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_total_amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Verify_Record_is_Eligible_for_Waiver</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_LPWaiver</name>
        <label>Create LPWaiver</label>
        <locationX>578</locationX>
        <locationY>1334</locationY>
        <assignRecordIdToReference>lpwId</assignRecordIdToReference>
        <connector>
            <targetReference>Sucess</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_Towards_Late_Penalty__c</field>
            <value>
                <elementReference>Get_Demand.Total_Amount_with_Tax_Demanded__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>Get_Demand.Booking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Demand__c</field>
            <value>
                <elementReference>Get_Demand.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LP_Amount_To_Be_Waived__c</field>
            <value>
                <elementReference>Enter_WaiverAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Remarks__c</field>
            <value>
                <elementReference>Remark</elementReference>
            </value>
        </inputAssignments>
        <object>LP_Waiver__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_all_LPW</name>
        <label>Get all LPW</label>
        <locationX>512</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_LPW</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demand.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved by MDO/CMO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>LP_Waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Demand</name>
        <label>Get Demand</label>
        <locationX>281</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lp_Waiver_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Demand__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lp_Waiver_Records</name>
        <label>Get Lp Waiver Records</label>
        <locationX>281</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Existing_lpw</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Demand__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Demand.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved by MDO/CMO</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected by Collection Head</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected by Accounts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected by Audit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected by Audit &amp; Submitted to Accounts</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected by Audit &amp; Submitted to Accounts &amp; Collection</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected by MDO/CMO</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>LP_Waiver__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>842</locationX>
        <locationY>1334</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; font-family: serif;&quot;&gt;LP Waiver amount cannot exceed the Total Amount Demanded.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>LPExist</name>
        <label>LPExist</label>
        <locationX>50</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_2_of_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; font-family: serif; background-color: rgb(255, 255, 255); color: rgb(36, 36, 36);&quot;&gt;LP Waiver cannot be raised. Please be informed that already an LP Waiver is raised and it is In-Progress.&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>No_Waiver</name>
        <label>No Waiver</label>
        <locationX>314</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Copy_1_of_Error_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(36, 36, 36); background-color: rgb(255, 255, 255); font-family: serif; font-size: 18px;&quot;&gt;LP Waiver cannot be raised. Please be informed that already an LP Waiver is raised with the demanded amount.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sucess</name>
        <label>Sucess</label>
        <locationX>578</locationX>
        <locationY>1454</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>navigate_to_lpw</targetReference>
        </connector>
        <fields>
            <name>SucessMessage</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 18px; font-family: serif;&quot;&gt;Successfully created LP Waiver&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Waiver_Details</name>
        <label>Waiver Details</label>
        <locationX>710</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Verify_Amount</targetReference>
        </connector>
        <fields>
            <name>Waiver_Details_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Waiver_Details_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Enter_WaiverAmount</name>
                    <dataType>Number</dataType>
                    <fieldText>Enter Waiver Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <helpText>&lt;p&gt;Amount should be less than {!RemainedDemandAmount}&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Waiver_Details_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Remark</name>
                    <fieldText>Remarks</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>155</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Demand</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>lpwId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TotalAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
