force-app/main/default/flows/Mortgage_DSR_File_Upload.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_DSR_File_Id</name>
        <label>Assign DSR File Id</label>
        <locationX>51</locationX>
        <locationY>422</locationY>
        <assignmentItems>
            <assignToReference>DSRFileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_DSR_File_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_DSR_File_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_DSR_File_Ids</name>
        <label>Count of DSR File Ids</label>
        <locationX>813</locationX>
        <locationY>87</locationY>
        <assignmentItems>
            <assignToReference>CountofDSRFileIds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CustomerSignedDSRFileIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_DSR_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Existing_DSR_Files</name>
        <label>Count of Existing DSR Files</label>
        <locationX>459</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>CountofExistingDSRFiles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>DSRExistingFiles</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_existinf_DSR_files_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_DSR_Uploaded</name>
        <label>Check DSR Uploaded</label>
        <locationX>805</locationX>
        <locationY>292</locationY>
        <defaultConnector>
            <targetReference>Update_Customer_Signed_DSR</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DSR_File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofDSRFileIds</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mortgage_Files</targetReference>
            </connector>
            <label>DSR File Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_existinf_DSR_files_Count</name>
        <label>Check existinf DSR files Count</label>
        <locationX>358</locationX>
        <locationY>256</locationY>
        <defaultConnector>
            <targetReference>Loop_over_DSR_File_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_DSR_Count_positive</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofExistingDSRFiles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_DSR_Files</targetReference>
            </connector>
            <label>Existing DSR Count positive</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Mortgage DSR File Upload {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mortgage DSR File Upload</label>
    <loops>
        <name>Loop_over_DSR_File_Ids</name>
        <label>Loop over DSR File Ids</label>
        <locationX>312</locationX>
        <locationY>425</locationY>
        <collectionReference>CustomerSignedDSRFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_DSR_File_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_File_name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordDeletes>
        <name>Delete_Existing_DSR_Files</name>
        <label>Delete Existing DSR Files</label>
        <locationX>75</locationX>
        <locationY>257</locationY>
        <connector>
            <targetReference>Loop_over_DSR_File_Ids</targetReference>
        </connector>
        <inputReference>DSRExistingFiles</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Mortgage_Files</name>
        <label>Get Mortgage Files</label>
        <locationX>675</locationX>
        <locationY>440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Existing_DSR_Files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerSignedDSRFilename</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>DSRExistingFiles</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_File_name</name>
        <label>Update File name</label>
        <locationX>249</locationX>
        <locationY>629</locationY>
        <connector>
            <targetReference>Update_Mortgage_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>DSRFileId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>CustomerSignedDSRFilename</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mortgage_Record</name>
        <label>Update Mortgage Record</label>
        <locationX>466</locationX>
        <locationY>613</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Signed_DSR_File_Id__c</field>
            <value>
                <elementReference>DSRFileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Signed_DSR_Uploaded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Mortgage__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Update_Customer_Signed_DSR</name>
        <label>Update Customer Signed DSR</label>
        <locationX>605</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_of_DSR_File_Ids</targetReference>
        </connector>
        <fields>
            <name>Customer_Signed_DSR</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Upload Customer Signed DSR</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>CustomerSignedDSRFileIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>CustomerSignedDSRFileIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>73</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Update_Customer_Signed_DSR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CountofDSRFileIds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountofExistingDSRFiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CustomerSignedDSRFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerSignedDSRFilename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Customer Signed DSR</stringValue>
        </value>
    </variables>
    <variables>
        <name>DSRExistingFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>DSRFileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
