force-app/main/default/flows/Mortgage_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Submit_For_Approval</name>
        <label>Submit For Approval</label>
        <locationX>884</locationX>
        <locationY>1114</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>User_Info_Screen_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>MortgageId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_DSR_File_Id</name>
        <label>Assign DSR File Id</label>
        <locationX>1609</locationX>
        <locationY>884</locationY>
        <assignmentItems>
            <assignToReference>CustomerSignedDSRFileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Over_DSR_File_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Over_DSR_File_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Existing_Mortgage_Id</name>
        <label>Assign Existing Mortgage Id</label>
        <locationX>1282</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>MortgageId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_mortgage_records.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgaheName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_mortgage_records.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MortgageContractFileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_mortgage_records.Mortgage_Contract_Cheque_File_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingCustomerDSRFileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_mortgage_records.Customer_Signed_DSR_File_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingBankName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_mortgage_records.Bank_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ExistingChequeAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_mortgage_records.Cheque_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>User_Info_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Mortgage_Contract_File_Id</name>
        <label>Assign Mortgage Contract File Id</label>
        <locationX>236</locationX>
        <locationY>502</locationY>
        <assignmentItems>
            <assignToReference>MortgageChequeFileId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_Mortgage_Contract_Ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_Mortgage_Contract_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Existing_Mortgage_Records</name>
        <label>Count of Existing Mortgage Records</label>
        <locationX>570</locationX>
        <locationY>217</locationY>
        <assignmentItems>
            <assignToReference>CountofMortgageContractFiles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ExistingMortgageContractFileIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Existing_Contract_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Mortgage_Contract_File_Ids</name>
        <label>Count of Mortgage Contract File Ids</label>
        <locationX>944</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>CountofMortgageContractFileIds</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>MortgageContractFileIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Mortgage_Contract_Uploaded</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Mortgage_Contract_File_Ids_0</name>
        <label>Count of Mortgage Contract File Ids</label>
        <locationX>880</locationX>
        <locationY>830</locationY>
        <assignmentItems>
            <assignToReference>CountofDSRFiles</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>CustomerSignedDSRFileIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Mortgage_Contract_Uploaded_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_of_Mortgage_Records</name>
        <label>Count of Mortgage Records</label>
        <locationX>606</locationX>
        <locationY>63</locationY>
        <assignmentItems>
            <assignToReference>CountofMortgagerecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>listofMortgageRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Mortgage_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Existing_Contract_Files</name>
        <label>Check Existing Contract Files</label>
        <locationX>396</locationX>
        <locationY>204</locationY>
        <defaultConnector>
            <targetReference>Loop_over_Mortgage_Contract_Ids</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Existing_Files_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofMortgageContractFiles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Existing_Mortgage_Contract</targetReference>
            </connector>
            <label>Existing Files Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mortgage_Contract_Uploaded</name>
        <label>Check Mortgage Contract Uploaded</label>
        <locationX>1017</locationX>
        <locationY>641</locationY>
        <defaultConnector>
            <targetReference>Mortgage_Screen_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Mortgage_Contract_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofMortgageContractFileIds</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Mortgage_Files</targetReference>
            </connector>
            <label>Mortgage Contract Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mortgage_Contract_Uploaded_0</name>
        <label>Check Mortgage Contract Uploaded</label>
        <locationX>1040</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>Submit_For_Approval</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Signer_DSR_Contract_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofDSRFiles</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Over_DSR_File_Ids</targetReference>
            </connector>
            <label>Customer Signer DSR Contract Uploaded</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mortgage_Count</name>
        <label>Check Mortgage Count</label>
        <locationX>795</locationX>
        <locationY>63</locationY>
        <defaultConnector>
            <targetReference>Create_Mortgage_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Count_is_One</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CountofMortgagerecords</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_mortgage_records</targetReference>
            </connector>
            <label>Count is One</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>MortgageBanknamePicklistValues</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Bank_Name__c</picklistField>
        <picklistObject>Mortgage__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Mortgage Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mortgage Flow</label>
    <loops>
        <name>Loop_Over_DSR_File_Ids</name>
        <label>Loop Over DSR File Ids</label>
        <locationX>1470</locationX>
        <locationY>884</locationY>
        <collectionReference>CustomerSignedDSRFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_DSR_File_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_File_Name_DSR</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_Mortgage_Contract_Ids</name>
        <label>Loop over Mortgage Contract Ids</label>
        <locationX>444</locationX>
        <locationY>434</locationY>
        <collectionReference>MortgageContractFileIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Mortgage_Contract_File_Id</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_File_Name</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_mortgage_records</name>
        <label>Loop over mortgage records</label>
        <locationX>1032</locationX>
        <locationY>63</locationY>
        <collectionReference>listofMortgageRecords</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Existing_Mortgage_Id</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Mortgage_Record</name>
        <label>Create Mortgage Record</label>
        <locationX>800</locationX>
        <locationY>260</locationY>
        <assignRecordIdToReference>MortgageId</assignRecordIdToReference>
        <connector>
            <targetReference>Mortgage_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Mortgage__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Existing_Mortgage_Contract</name>
        <label>Delete Existing Mortgage Contract</label>
        <locationX>57</locationX>
        <locationY>345</locationY>
        <connector>
            <targetReference>Loop_over_Mortgage_Contract_Ids</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MortgageId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MortgageFileNameValue</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_Mortgage_Files</name>
        <label>Get Mortgage Files</label>
        <locationX>593</locationX>
        <locationY>456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Existing_Mortgage_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MortgageId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Title</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MortgageFileNameValue</elementReference>
            </value>
        </filters>
        <object>ContentDocument</object>
        <outputReference>MortageExistingFiles</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Mortgage_Record</name>
        <label>Get Mortgage Record</label>
        <locationX>458</locationX>
        <locationY>63</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_of_Mortgage_Records</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted</stringValue>
            </value>
        </filters>
        <object>Mortgage__c</object>
        <outputReference>listofMortgageRecords</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Mortgage_Contract_Cheque_File_Id__c</queriedFields>
        <queriedFields>Bank_Name__c</queriedFields>
        <queriedFields>Cheque_Amount__c</queriedFields>
        <queriedFields>Customer_Signed_DSR_File_Id__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_File_Name</name>
        <label>Update File Name</label>
        <locationX>344</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Update_Mortgage_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MortgageChequeFileId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>MortgageFileNameValue</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_File_Name_DSR</name>
        <label>Update File Name DSR</label>
        <locationX>1316</locationX>
        <locationY>975</locationY>
        <connector>
            <targetReference>Update_Mortgage_Record_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CustomerSignedDSRFileId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Title</field>
            <value>
                <elementReference>CustomerSignedDSRFilename</elementReference>
            </value>
        </inputAssignments>
        <object>ContentDocument</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mortgage_Record</name>
        <label>Update Mortgage Record</label>
        <locationX>500</locationX>
        <locationY>755</locationY>
        <connector>
            <targetReference>Customer_Signed_DSR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MortgageId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Bank_Name__c</field>
            <value>
                <elementReference>Bank_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cheque_Amount__c</field>
            <value>
                <elementReference>Cheque_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mortgage_Contract_Cheque_File_Id__c</field>
            <value>
                <elementReference>MortgageChequeFileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mortgage_Contract_Uploaded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Mortgage__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Mortgage_Record_0</name>
        <label>Update Mortgage Record</label>
        <locationX>1185</locationX>
        <locationY>976</locationY>
        <connector>
            <targetReference>Submit_For_Approval</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MortgageId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Customer_Signed_DSR_File_Id__c</field>
            <value>
                <elementReference>CustomerSignedDSRFileId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Signed_DSR_Uploaded__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Mortgage__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Customer_Signed_DSR</name>
        <label>Customer_Signed_DSR</label>
        <locationX>665</locationX>
        <locationY>943</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_of_Mortgage_Contract_File_Ids_0</targetReference>
        </connector>
        <fields>
            <name>Customer_Signed_DSR_Upload</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please Upload Customer Signed DSR (Optional)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>MortgageId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>CustomerSignedDSRFileIds</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>MortgageId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CustomerSignedDSRFileIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mortgage_Screen</name>
        <label>Mortgage Screen</label>
        <locationX>970</locationX>
        <locationY>261</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_of_Mortgage_Contract_File_Ids</targetReference>
        </connector>
        <fields>
            <name>Mortgage_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mortgage_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Heading</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(228, 12, 12);&quot;&gt;*&lt;/span&gt; Please upload the Mortgage Contract Cheque&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Mortgage_Contract_Cheque_Upload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mortgage Contract Cheque</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>MortgageId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>MortgageContractFileIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>MortgageContractFileIds</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>MortgageId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Mortgage_Screen_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mortgage_Screen_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Bank_Name</name>
                    <choiceReferences>MortgageBanknamePicklistValues</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Bank Name</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Cheque_Amount</name>
                    <dataType>Number</dataType>
                    <fieldText>Cheque Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mortgage_Screen_0</name>
        <label>Mortgage Screen</label>
        <locationX>718</locationX>
        <locationY>664</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Count_of_Mortgage_Contract_File_Ids</targetReference>
        </connector>
        <fields>
            <name>Mortgage_Screen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Mortgage_Screen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Heading_0</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(205, 27, 27);&quot;&gt;Please upload the Mortgage Contract Cheque&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Mortgage_Contract_Cheque_Upload_0</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mortgage Contract Cheque</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>MortgageId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>MortgageContractFileIds</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>MortgageContractFileIds</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>MortgageId</assignToReference>
                        <name>recordId</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Info_Screen</name>
        <label>User Info Screen</label>
        <locationX>1442</locationX>
        <locationY>247</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExistingMortgageforBooking</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px; color: rgb(17, 111, 12);&quot;&gt;﻿Mortgage record is already created for this booking. Please click here to navigate to the record -&lt;/span&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;&lt;a href=&quot;/{!MortgageId}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;font-size: 14px;&quot;&gt;{!MortgaheName}&lt;/a&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_Info_Screen_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Info_Screen_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Mortgage Details -&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BankName1</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Bank Name&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;- {!ExistingBankName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Cheque Amount&lt;/b&gt; - {!ExistingChequeAmount}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MortgageFileLabel</name>
                    <fieldText>&lt;p&gt;Mortgage Contract Cheque File&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Mortgage_Contract_Cheque</name>
                    <extensionName>c:FilePreviewComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fileId</name>
                        <value>
                            <elementReference>MortgageContractFileId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CustomerDSRLabel</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Customer Signed DSR &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Signed_DSR1</name>
            <extensionName>c:FilePreviewComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>ExistingCustomerDSRFileId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Info_Screen_0</name>
        <label>User Info Screen</label>
        <locationX>693</locationX>
        <locationY>1070</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ExistingMortgageforBooking_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(17, 111, 12); font-size: 14px;&quot;&gt;﻿Mortgage record is created successfully for this booking and submitted for Approval&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>User_Info_Screen_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>User_Info_Screen_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Display_0</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Mortgage Details -&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BankName1_0</name>
                    <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Bank Name&lt;/b&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt; &lt;/span&gt;- {!Bank_Name}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 14px;&quot;&gt;Cheque Amount&lt;/b&gt; - {!Cheque_Amount}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>MortgageFileLabel_0</name>
                    <fieldText>&lt;p&gt;Mortgage Contract Cheque File&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Mortgage_Contract_Cheque_0</name>
                    <extensionName>c:FilePreviewComponent</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fileId</name>
                        <value>
                            <elementReference>MortgageChequeFileId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>CustomerDSRLabel_0</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Customer Signed DSR &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Signed_DSR1_0</name>
            <extensionName>c:FilePreviewComponent</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fileId</name>
                <value>
                    <elementReference>CustomerSignedDSRFileId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>65</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Get_Mortgage_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BankName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ChequeValue</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>CountofDSRFiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountofMortgageContractFileIds</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountofMortgageContractFiles</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>CountofMortgagerecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CustomerSignedDSRFileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerSignedDSRFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CustomerSignedDSRFilename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Customer Signed DSR</stringValue>
        </value>
    </variables>
    <variables>
        <name>ExistingBankName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingChequeAmount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>ExistingCustomerDSRFileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ExistingMortgageContractFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>listofMortgageRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mortgage__c</objectType>
    </variables>
    <variables>
        <name>MortageExistingFiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>ContentDocument</objectType>
    </variables>
    <variables>
        <name>MortgageChequeFileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MortgageContractFileId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MortgageContractFileIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MortgageFilename</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MortgageFileNameValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Mortgage Contract Cheque</stringValue>
        </value>
    </variables>
    <variables>
        <name>MortgageId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>MortgageRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Mortgage__c</objectType>
    </variables>
    <variables>
        <name>MortgaheName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
