force-app/main/default/flows/New_Broker_Tracker_Meeting.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateToBrokerMeetingTracker</name>
        <label>NavigateToBrokerMeetingTracker</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>Create_Broker_Meeting_Tracker</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Ass_ContentDocLink</name>
        <label>Ass ContentDocLink</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ContentDocLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Files</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Broker_Meeting_Tracker</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocumentLinkCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variable</name>
        <label>Assign Variable</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>FileCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIDs</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_File_Uploaded</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Were_File_Uploaded</name>
        <label>Were File Uploaded</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Broker_Meeting_Tracker</targetReference>
            </connector>
            <label>File Uploaded</label>
        </rules>
        <rules>
            <name>File_not_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Broker_Meeting_Tracker</targetReference>
            </connector>
            <label>File not uploaded</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pck_MeetingOrganizedBy</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_organized_by__c</picklistField>
        <picklistObject>Broker_Meeting_Tracker__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pckl_MeetingLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Location__c</picklistField>
        <picklistObject>Broker_Meeting_Tracker__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>New Broker Tracker Meeting {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Broker Tracker Meeting</label>
    <loops>
        <name>Loop_through_Files</name>
        <label>Loop through Files</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>contentDocumentIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_ContentDocLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Link_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Broker_Meeting_Tracker</name>
        <label>Create Broker Meeting Tracker</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Loop_through_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errMsg</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Broker_Name__c</field>
            <value>
                <elementReference>Broker_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Manager_Name__c</field>
            <value>
                <elementReference>ChannelManager.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Channel_Partner__c</field>
            <value>
                <elementReference>CPID.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_Broker_Not_Registered_Choose_the_Brok__c</field>
            <value>
                <elementReference>BR.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Date__c</field>
            <value>
                <elementReference>Meeting_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Location__c</field>
            <value>
                <elementReference>Select_Meeting_Location</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_organized_by__c</field>
            <value>
                <elementReference>Meeting_organized_by</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Person_met__c</field>
            <value>
                <elementReference>Person_met</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SC_ID__c</field>
            <value>
                <elementReference>SC_ID.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SD_with_whom_the_meeting_happened__c</field>
            <value>
                <elementReference>SD.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SM_with_whom_the_meeting_happened__c</field>
            <value>
                <elementReference>SM.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Broker_Meeting_Tracker__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link_records</name>
        <label>Create Content Document Link records</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>NavigateToBrokerMeetingTracker</targetReference>
        </connector>
        <inputReference>contentDocumentLinkCollection</inputReference>
    </recordCreates>
    <screens>
        <name>errMsg</name>
        <label>errMsg</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 6, 6);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Broker_Meeting_Tracker</name>
        <label>New Broker Meeting Tracker</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variable</targetReference>
        </connector>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(231, 2, 2);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; = Required Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Information</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CPID</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>CP ID</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Broker_Meeting_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Channel_Partner__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BR</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue> If Broker Not Registered Choose from BR</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>If_Broker_Not_Registered_Choose_the_Brok__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Broker_Meeting_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Broker_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Broker Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Meeting_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Meeting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Meeting_organized_by</name>
                    <choiceReferences>pck_MeetingOrganizedBy</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Meeting organized by</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Person_met</name>
                    <dataType>String</dataType>
                    <fieldText>Person met</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>SM</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Broker_Meeting_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SM_with_whom_the_meeting_happened__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SM with whom the meeting happened</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SD</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Broker_Meeting_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SD_with_whom_the_meeting_happened__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SD with whom the meeting happened</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SC_ID</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SC_ID__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SC ID (Enter FULL NAME as per Passport)</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Broker_Meeting_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BrokerMeetingTrackermsg</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Broker Meeting Tracker&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>ChannelManager</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Broker_Meeting_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Channel_Manager_Name__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Channel Manager Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Select_Meeting_Location</name>
                    <choiceReferences>pckl_MeetingLocation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Select Meeting Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>FileUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Please Attach File</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>contentDocumentIDs</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>NoOfFiles</name>
                    <fieldText>&lt;p&gt;No of files attached : {!FileCount} &lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FileCount</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FileMsg</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 12px; color: rgb(228, 21, 21);&quot;&gt;Please Upload File&lt;/strong&gt;&lt;span style=&quot;color: rgb(228, 18, 18);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FileCount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>System_Information</name>
            <fieldText>System Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>System_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner</name>
                    <fieldText>&lt;p&gt;Owner&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>createdBy</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Created By&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>System_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastModifiedBy</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Last Modified By&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Broker_Meeting_Tracker</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>FileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
