force-app/main/default/flows/New_Broker_Meeting_Tracker_Sales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>NavigateToBrokerMeetingTrackerSales</name>
        <label>NavigateToBrokerMeetingTrackerSales</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <actionName>c:navigateToRecord</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>NewBroMeetingTrackerSales.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>c:navigateToRecord</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Ass_ContentDocLink</name>
        <label>Ass ContentDocLink</label>
        <locationX>138</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ContentDocLink.ContentDocumentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_through_Files</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContentDocLink.LinkedEntityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewBroMeetingTrackerSales.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>contentDocumentLinkCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ContentDocLink</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_Files</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Variable</name>
        <label>Assign Variable</label>
        <locationX>578</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>FileCount</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>contentDocumentIDs</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Meeting_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meeting_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Broker_category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Broker_category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Broker_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Broker_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Meeting_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meeting_Location</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Meeting_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meeting_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Time_of_meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Time_of_meeting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Plan_of_Meeting__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Plan_of_Meeting</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Person_met__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Person_met</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Meeting_Remarks__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Meeting_Remarks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Brokerage_company_owner_s_name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage_company_owner_s_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.Brokerage_company_owner_s_nationality__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Brokerage_company_owner_s_nationality</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.CP_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CPID.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewBroMeetingTrackerSales.SC_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SC_ID.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Were_File_Uploaded</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckIfValidation</name>
        <label>CheckIfValidation</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>errMsg</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsValidationRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>FIELD_CUSTOM_VALIDATION_EXCEPTION</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Broker_Meeting_Tracker_Sales</targetReference>
            </connector>
            <label>IsValidationRule</label>
        </rules>
    </decisions>
    <decisions>
        <name>Were_File_Uploaded</name>
        <label>Were File Uploaded</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>File_Uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileCount</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Broker_Meeting_Tracker_Sales</targetReference>
            </connector>
            <label>File Uploaded</label>
        </rules>
        <rules>
            <name>File_not_uploaded</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FileCount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>New_Broker_Meeting_Tracker_Sales</targetReference>
            </connector>
            <label>File not uploaded</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>pcklBrokerCategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Broker_category__c</picklistField>
        <picklistObject>Sales_Meeting_Tracker__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcklMeetingLocation</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Location__c</picklistField>
        <picklistObject>Sales_Meeting_Tracker__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcklMeetingStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Meeting_Status__c</picklistField>
        <picklistObject>Sales_Meeting_Tracker__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcklPlanOfMeeting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Plan_of_Meeting__c</picklistField>
        <picklistObject>Sales_Meeting_Tracker__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>pcklTimeOfMeeting</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Time_of_meeting__c</picklistField>
        <picklistObject>Sales_Meeting_Tracker__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>parsedError</name>
        <dataType>String</dataType>
        <expression>MID(
    {!$Flow.FaultMessage},
    FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;, {!$Flow.FaultMessage}) + LEN(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;),
    FIND(&quot; You can look up&quot;, {!$Flow.FaultMessage}) - (FIND(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;, {!$Flow.FaultMessage}) + LEN(&quot;FIELD_CUSTOM_VALIDATION_EXCEPTION: &quot;))
)</expression>
    </formulas>
    <interviewLabel>New Broker Meeting Tracker(Sales) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Broker Meeting Tracker (Sales)</label>
    <loops>
        <name>Loop_through_Files</name>
        <label>Loop through Files</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <collectionReference>contentDocumentIDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Ass_ContentDocLink</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Content_Document_Link_records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Broker_Meeting_Tracker_Sales</name>
        <label>Create Broker Meeting Tracker Sales</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Loop_through_Files</targetReference>
        </connector>
        <faultConnector>
            <targetReference>CheckIfValidation</targetReference>
        </faultConnector>
        <inputReference>NewBroMeetingTrackerSales</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Content_Document_Link_records</name>
        <label>Create Content Document Link records</label>
        <locationX>50</locationX>
        <locationY>866</locationY>
        <connector>
            <targetReference>NavigateToBrokerMeetingTrackerSales</targetReference>
        </connector>
        <inputReference>contentDocumentLinkCollection</inputReference>
    </recordCreates>
    <screens>
        <name>errMsg</name>
        <label>errMsg</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>msg1</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 18, 18);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>New_Broker_Meeting_Tracker_Sales</name>
        <label>New Broker Meeting Tracker Sales</label>
        <locationX>578</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Variable</targetReference>
        </connector>
        <fields>
            <name>Note</name>
            <fieldText>&lt;p style=&quot;text-align: right;&quot;&gt;&lt;span style=&quot;color: rgb(231, 2, 2);&quot;&gt;*&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; = Required Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Information</name>
            <fieldText>Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SMBName</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;SMB Name&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Meeting_Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Meeting_Date__c</elementReference>
                    </defaultValue>
                    <fieldText>Meeting Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Broker_category</name>
                    <choiceReferences>pcklBrokerCategory</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Broker_category__c</elementReference>
                    </defaultValue>
                    <fieldText>Broker category</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Broker_Name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Broker_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Broker Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Meeting_Location</name>
                    <choiceReferences>pcklMeetingLocation</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Meeting_Location__c</elementReference>
                    </defaultValue>
                    <fieldText>Meeting Location</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Meeting_Status</name>
                    <choiceReferences>pcklMeetingStatus</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Meeting_Status__c</elementReference>
                    </defaultValue>
                    <fieldText>Meeting Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Time_of_meeting</name>
                    <choiceReferences>pcklTimeOfMeeting</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Time_of_meeting__c</elementReference>
                    </defaultValue>
                    <fieldText>Time of meeting</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Plan_of_Meeting</name>
                    <choiceReferences>pcklPlanOfMeeting</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Plan_of_Meeting__c</elementReference>
                    </defaultValue>
                    <fieldText>Plan of Meeting</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Person_met</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Person_met__c</elementReference>
                    </defaultValue>
                    <fieldText>Person met</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Meeting_Remarks</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Meeting_Remarks__c</elementReference>
                    </defaultValue>
                    <fieldText>Meeting Remarks</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Brokerage_company_owner_s_name</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Brokerage_company_owner_s_name__c</elementReference>
                    </defaultValue>
                    <fieldText>Brokerage company owner&apos;s name</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Brokerage_company_owner_s_nationality</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>NewBroMeetingTrackerSales.Brokerage_company_owner_s_nationality__c</elementReference>
                    </defaultValue>
                    <fieldText>Brokerage company owner&apos;s nationality</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CPID</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>CP ID</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Meeting_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CP_ID__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>NewBroMeetingTrackerSales.CP_ID__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>SC_ID</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>SC_ID__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>SC ID </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sales_Meeting_Tracker__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>NewBroMeetingTrackerSales.SC_ID__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>FileUpload</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Please Attach File</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>contentDocumentIDs</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>contentDocumentIDs</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                    <validationRule>
                        <errorMessage>&lt;p&gt;Please Attach file&lt;/p&gt;</errorMessage>
                        <formulaExpression>{!contentDocumentIDs}==NULL</formulaExpression>
                    </validationRule>
                </fields>
                <fields>
                    <name>NoOfFiles</name>
                    <fieldText>&lt;p&gt;File Attached&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FileCount</leftValueReference>
                            <operator>GreaterThan</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>FileMsg</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(228, 21, 21); font-size: 12px;&quot;&gt;Please Upload File&lt;/strong&gt;&lt;span style=&quot;color: rgb(228, 18, 18);&quot;&gt;﻿&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>FileCount</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <numberValue>0.0</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <fields>
            <name>validationError</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(228, 18, 18);&quot;&gt;{!parsedError}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>$Flow.FaultMessage</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>System_Information</name>
            <fieldText>System Information</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>System_Information_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Owner</name>
                    <fieldText>&lt;p&gt;Owner&lt;/p&gt;&lt;p&gt;{!$User.FirstName} {!$User.LastName}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>createdBy</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Created By&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>System_Information_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LastModifiedBy</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; color: rgb(68, 68, 68);&quot;&gt;Last Modified By&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>New_Broker_Meeting_Tracker_Sales</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocLink</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>contentDocumentIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contentDocumentLinkCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentDocumentLink</objectType>
    </variables>
    <variables>
        <name>FileCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NewBroMeetingTrackerSales</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Meeting_Tracker__c</objectType>
    </variables>
</Flow>
