force-app/main/default/flows/Payment_Milestone_Before_Create_Translate_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Set_Arabic_Installment</name>
        <label>Set Arabic - Installment</label>
        <locationX>666</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Installment_Arabic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Translations.Arabic__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Translations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Arabic_Milestone_Name</name>
        <label>Set Arabic - Milestone Name</label>
        <locationX>402</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Milestone_Name_Arabic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Translations.Arabic__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Translations</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Arabic_Milestone_Name_and_Installment</name>
        <label>Set Arabic - Milestone Name and Installment</label>
        <locationX>138</locationX>
        <locationY>791</locationY>
        <assignmentItems>
            <assignToReference>$Record.Milestone_Name_Arabic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Translations.Arabic__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Installment_Arabic__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Translations.Arabic__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Translations</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Execute_Flow</name>
        <label>Execute Flow</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>End</defaultConnectorLabel>
        <rules>
            <name>Run_Flow</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Milestone_Name__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Installment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.LastModifiedDate</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Translations</targetReference>
            </connector>
            <label>Run Flow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Milestone_Name_or_Installment</name>
        <label>Is Milestone Name or Installment?</label>
        <locationX>534</locationX>
        <locationY>671</locationY>
        <defaultConnector>
            <targetReference>Iterate_over_Translations</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Milestone_Name_and_Installment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Milestone_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_over_Translations.English__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Installment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_over_Translations.English__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Arabic_Milestone_Name_and_Installment</targetReference>
            </connector>
            <label>Milestone Name and Installment</label>
        </rules>
        <rules>
            <name>Milestone_Name</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Milestone_Name__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_over_Translations.English__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Arabic_Milestone_Name</targetReference>
            </connector>
            <label>Milestone Name</label>
        </rules>
        <rules>
            <name>Installment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Installment__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Iterate_over_Translations.English__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Arabic_Installment</targetReference>
            </connector>
            <label>Installment</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Payment Installment - Before Create - Translate Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Payment Milestone - Before Create - Translate Fields</label>
    <loops>
        <name>Iterate_over_Translations</name>
        <label>Iterate over Translations</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_Translations</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Milestone_Name_or_Installment</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Translations</name>
        <label>Get Translations</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Translations</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>English__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Milestone_Name__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>English__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Installment__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Translation__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>English__c</queriedFields>
        <queriedFields>Arabic__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Execute_Flow</targetReference>
        </connector>
        <object>Payment_Milestones__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
