force-app/main/default/flows/Pre_Regs_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Corporate_Assignment_0_0</name>
        <label>Corporate Assignment</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>DLDAmountpaidValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Corporate account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking_Record_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Corporate_Assignment_0_0_0</name>
        <label>Corporate Assignment</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>DLDAmountpaidValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking_Record_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Escrow_Assignment_0</name>
        <label>Escrow Assignment</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>DLDAmountpaidValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>ESCROW account</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking_Record_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Escrow_Corporate_Assignment</name>
        <label>Escrow&amp;Corporate Assignment</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>DLDAmountpaidValue</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Corporate and ESCROW account	</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Booking_Record_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Conditions</name>
        <label>Check Conditions</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Corporate_Assignment_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_ESCROW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Receipt_Records_with_ESCROW.Payment_Towards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESCROW Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Records_with_Corporate.Payment_Towards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Records_with_ESCROW.Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Records_with_Corporate.Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escrow_Corporate_Assignment</targetReference>
            </connector>
            <label>If ESCROW &amp; Corporate</label>
        </rules>
        <rules>
            <name>Escrow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Receipt_Records_with_ESCROW.Payment_Towards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ESCROW Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Records_with_ESCROW.Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Escrow_Assignment_0</targetReference>
            </connector>
            <label>Escrow</label>
        </rules>
        <rules>
            <name>Corporate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Receipt_Records_with_Corporate.Payment_Towards__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corporate Account</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Receipt_Records_with_Corporate.Receipt_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Corporate_Assignment_0_0</targetReference>
            </connector>
            <label>Corporate</label>
        </rules>
    </decisions>
    <description>This flow is related to the Receipt Object (Triggering Point). The flow is about updating &quot;DLD Amount Paid In&quot; Value in Booking object. 
Created By - Tania Chattopadhyay 
Last Modified By - Tania on 16th March 2022</description>
    <interviewLabel>Pre-Regs Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pre-Registration Flow v1.0</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Receipt_Records_with_Corporate</name>
        <label>Get Receipt Records with Corporate</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Conditions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Towards__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Corporate Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Receipt_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Receipt_Records_with_ESCROW</name>
        <label>Get Receipt Records with ESCROW</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Receipt_Records_with_Corporate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Payment_Towards__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ESCROW Account</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Receipt_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Booking_Record_0_0_0_0</name>
        <label>Update Booking Record</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>DLD_Amount_Paid_In__c</field>
            <value>
                <elementReference>DLDAmountpaidValue</elementReference>
            </value>
        </inputAssignments>
        <object>Booking__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Receipt_Records_with_ESCROW</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR 4</filterLogic>
        <filters>
            <field>Payment_Towards__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Registration_Collection_Control_Report__c</field>
            <operator>GreaterThan</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </filters>
        <filters>
            <field>Receipt_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cleared</stringValue>
            </value>
        </filters>
        <filters>
            <field>Receipt_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <object>Receipt__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>DLDAmountpaidValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
