force-app/main/default/flows/Receipt_Status_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Screen_value_assignment</name>
        <label>Screen value assignment</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>Selected_Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Change_status_to</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_GL_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GL_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Debit_Account</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Debit_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Cheque_Deposit_Date</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Cheque_Deposit_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Selected_Payment_Towards</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Towards</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Debug_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Value_for_Cheque_Hold</name>
        <label>Set Value for Cheque Hold</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ContextReceipt.Receipt_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Receipt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_for_cleared_receipt</name>
        <label>Set values for cleared receipt</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ContextReceipt.Receipt_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextReceipt.GL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_GL_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextReceipt.Debit_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Debit_Account</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextReceipt.Payment_Towards__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Payment_Towards</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Receipt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_for_PDC</name>
        <label>Set values for PDC</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ContextReceipt.Receipt_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Status</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Receipt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_values_for_Sent_for_Banking</name>
        <label>Set values for Sent for Banking</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>ContextReceipt.Receipt_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Status</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContextReceipt.Cheque_Deposit_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_Cheque_Deposit_Date</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Receipt</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Status_ProcessedSentforBanking</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Processed-Sent for Banking</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Is_permitted_user</name>
        <label>Is permitted user?</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Regret_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.Allow_Receipt_Status_Update</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ContextReceipt</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_update_validation</name>
        <label>Status update validation</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>Failure</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Invalid status chosen</defaultConnectorLabel>
        <rules>
            <name>Status_set_to_Cleared</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cleared</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_GL_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Debit_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Payment_Towards</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_values_for_cleared_receipt</targetReference>
            </connector>
            <label>Status set to Cleared?</label>
        </rules>
        <rules>
            <name>Status_set_to_Sent_for_Banking</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Status_ProcessedSentforBanking</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Cheque_Deposit_Date</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Selected_Debit_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_values_for_Sent_for_Banking</targetReference>
            </connector>
            <label>Status set to Sent for Banking?</label>
        </rules>
        <rules>
            <name>Status_set_to_PDC</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PDC</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_values_for_PDC</targetReference>
            </connector>
            <label>Status set to PDC</label>
        </rules>
        <rules>
            <name>Status_set_to_Cheque_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Selected_Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cheque Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Value_for_Cheque_Hold</targetReference>
            </connector>
            <label>Status set to Cheque Hold</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>AccountMasters</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Account_Master__c</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Payment_Towards_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Payment_Towards__c</picklistField>
        <picklistObject>Receipt__c</picklistObject>
        <sortOrder>Asc</sortOrder>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReceiptStatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Receipt_Status__c</picklistField>
        <picklistObject>Receipt__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Receipt Status Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Receipt Status Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ContextReceipt</name>
        <label>ContextReceipt</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Receipt_Status_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Receipt__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Receipt</name>
        <label>Update Receipt</label>
        <locationX>578</locationX>
        <locationY>1148</locationY>
        <inputReference>ContextReceipt</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Debug_Screen</name>
        <label>Debug Screen</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Status_update_validation</targetReference>
        </connector>
        <fields>
            <name>DebugScreen</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Selected_Status : &lt;/span&gt;{!Selected_Status}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Selected_GL_Date : &lt;/span&gt;{!Selected_GL_Date}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Selected_Cheque_Deposit_Date : &lt;/span&gt;{!Selected_Cheque_Deposit_Date}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Selected_Debit_Account : &lt;/span&gt;{!Selected_Debit_Account}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>1106</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_permitted_user</targetReference>
        </connector>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;color: rgb(255, 0, 34);&quot;&gt;Invalid update attempted! Please try again!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Status can only be changed to&lt;/u&gt;&lt;/strong&gt; :&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Cleared, &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Processed-Sent for Banking or &lt;/span&gt;PDC.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Mandatory fields&lt;/u&gt;&lt;/strong&gt; :&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;For Cleared : GL Date, Debit Account and Payment Towards is mandatory.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;For Processed-Sent for Banking : Cheque Deposit Date and Debit Account is mandatory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Retry</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Information</name>
        <label>Information</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_permitted_user</targetReference>
        </connector>
        <fields>
            <name>Notice</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Status can only be changed to&lt;/u&gt;&lt;/strong&gt; :&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Cleared, &lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Processed-Sent for Banking or &lt;/span&gt;PDC.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;&lt;u&gt;Mandatory fields&lt;/u&gt;&lt;/strong&gt; :&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;For Cleared : GL Date, Debit Account and Payment Towards is mandatory.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;For Processed-Sent for Banking : Cheque Deposit Date and Debit Account is mandatory.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Receipt_Status_Update</name>
        <label>Receipt Status Update</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_value_assignment</targetReference>
        </connector>
        <fields>
            <name>Current_Status</name>
            <fieldText>&lt;p&gt;Current Receipt Status : {!ContextReceipt.Receipt_Status__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Change_status_to</name>
            <choiceReferences>ReceiptStatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ContextReceipt.Receipt_Status__c</elementReference>
            </defaultValue>
            <fieldText>Change status to :</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>GL_Date</name>
            <dataType>Date</dataType>
            <fieldText>GL Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Cheque_Deposit_Date</name>
            <dataType>Date</dataType>
            <fieldText>Cheque Deposit Date</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Debit_Account</name>
            <choiceReferences>AccountMasters</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Debit Account</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Payment_Towards</name>
            <choiceReferences>Payment_Towards_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Payment Towards</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Regret_Message</name>
        <label>Regret Message</label>
        <locationX>1370</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Regret_Message_Text</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Apologies! you cannot proceed, as you are not a permitted user!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Okay</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Information</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentRecord</elementReference>
        </value>
    </variables>
    <variables>
        <name>Selected_Cheque_Deposit_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Debit_Account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_GL_Date</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Payment_Towards</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
