force-app/main/default/flows/Requester_Flow_2_0_Create_new_Requester_record.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Requester_Approval_0_0</name>
        <label>Requester Approval</label>
        <locationX>578</locationX>
        <locationY>2486</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>displayFilesNames_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Requester_Approval_Process_to_Financial</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>UpdatedRequesterRecordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>comment</name>
            <value>
                <stringValue>Great! Your request has been submitted for approval and you&apos;ll get an email once it&apos;s approved</stringValue>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Submit_for_Approval</name>
        <label>Submit for Approval</label>
        <locationX>314</locationX>
        <locationY>2486</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <connector>
            <targetReference>displayFilesNames_0_0</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>Requester_Approval_Process_to_Manager</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>UpdatedRequesterRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>submit</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>Assign_list_of_files</name>
        <label>Assign list of files</label>
        <locationX>732</locationX>
        <locationY>1910</locationY>
        <assignmentItems>
            <assignToReference>varFileTitleResultsRow</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextTemplateFileInfo</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Files_Loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Currency_Value</name>
        <label>Check Currency Value</label>
        <locationX>644</locationX>
        <locationY>1094</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Cash</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Currency3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Requester_Record_0_0</targetReference>
            </connector>
            <label>If Cash</label>
        </rules>
        <rules>
            <name>OtherMode</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Currency3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Requester_Record_0</targetReference>
            </connector>
            <label>Others</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_File_Uploaded_0</name>
        <label>POP Uploaded?</label>
        <locationX>644</locationX>
        <locationY>2126</locationY>
        <defaultConnector>
            <targetReference>Screen_3_0_Display_Error_Message_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_YES_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>fileIDsLength2</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Newly_created_Requester_Record_Details</targetReference>
            </connector>
            <label>If YES</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Charges_Amount_is_not_null</name>
        <label>Other Charges Amount is not null</label>
        <locationX>611</locationX>
        <locationY>398</locationY>
        <defaultConnector>
            <targetReference>Verify_TotalAmount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>other_charges_not_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Towards_Other_Charges_Amount</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>0.01</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OthersRequester</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Other_charges_are_not_there</targetReference>
            </connector>
            <label>other charges not selected</label>
        </rules>
        <rules>
            <name>other_charges_selected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Towards_Other_Charges_Amount</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Towards_Other_Charges_Amount</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Verify_TotalAmount</targetReference>
            </connector>
            <label>other charges selected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Role</name>
        <label>Verify Role</label>
        <locationX>446</locationX>
        <locationY>2366</locationY>
        <defaultConnector>
            <targetReference>Requester_Approval_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Sales_Manager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Newly_created_Requester_Record_Details.Requested_User__r.UserRoleId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Newly_created_Requester_Record_Details.Requested_User__r.UserRole.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Sales Manager</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Newly_created_Requester_Record_Details.Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Submit_for_Approval</targetReference>
            </connector>
            <label>If Sales Manager</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_TotalAmount</name>
        <label>Verify TotalAmount</label>
        <locationX>611</locationX>
        <locationY>854</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>InValid_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Amount</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Calculate_NumberFields</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DisplayError</targetReference>
            </connector>
            <label>InValid Amount</label>
        </rules>
        <rules>
            <name>Valid_Amount</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Total_Amount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Calculate_NumberFields</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity_details</targetReference>
            </connector>
            <label>Valid Amount</label>
        </rules>
    </decisions>
    <description>Version - 2
Created By - Tania Chattopadhyay
Created Date - 2nd Feb &apos;22</description>
    <dynamicChoiceSets>
        <name>AmountTowardsDropdown</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Amount_towards__c</picklistField>
        <picklistObject>Requester__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Currency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Currency__c</picklistField>
        <picklistObject>Requester__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Mode</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mode_Of__c</picklistField>
        <picklistObject>Requester__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Others</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Others__c</picklistField>
        <picklistObject>Requester__c</picklistObject>
    </dynamicChoiceSets>
    <formulas>
        <name>Calculate_NumberFields</name>
        <dataType>Number</dataType>
        <expression>If(NOT(ISBLANK({!Toward_Pre_Registration_Amount})) &amp;&amp; NOT(ISBLANK({!Towards_Other_Charges_Amount} )) &amp;&amp;  NOT(ISBLANK({!Towards_Unit_Price_Amount})),{!Toward_Pre_Registration_Amount}+{!Towards_Other_Charges_Amount}+{!Towards_Unit_Price_Amount}, If(ISBLANK({!Toward_Pre_Registration_Amount}) &amp;&amp; NOT(ISBLANK({!Towards_Other_Charges_Amount})) &amp;&amp; NOT(ISBLANK({!Towards_Unit_Price_Amount})), {!Towards_Other_Charges_Amount}+{!Towards_Unit_Price_Amount},
If(NOT(ISBLANK({!Toward_Pre_Registration_Amount})) &amp;&amp; ISBLANK({!Towards_Other_Charges_Amount}) &amp;&amp; 
NOT(ISBLANK({!Towards_Unit_Price_Amount})),{!Toward_Pre_Registration_Amount}+{!Towards_Unit_Price_Amount}, 
If(NOT(ISBLANK({!Toward_Pre_Registration_Amount})) &amp;&amp;  NOT(ISBLANK({!Towards_Other_Charges_Amount})) &amp;&amp; 
ISBLANK({!Towards_Unit_Price_Amount}),{!Toward_Pre_Registration_Amount}+{!Towards_Other_Charges_Amount}, If(ISBLANK({!Toward_Pre_Registration_Amount}) &amp;&amp; ISBLANK({!Towards_Other_Charges_Amount}) &amp;&amp; 
NOT(ISBLANK({!Towards_Unit_Price_Amount})),{!Towards_Unit_Price_Amount},If(NOT(ISBLANK({!Toward_Pre_Registration_Amount})) &amp;&amp; ISBLANK({!Towards_Other_Charges_Amount}) &amp;&amp; 
ISBLANK({!Towards_Unit_Price_Amount}),{!Toward_Pre_Registration_Amount},If(ISBLANK({!Toward_Pre_Registration_Amount}) &amp;&amp; NOT(ISBLANK({!Towards_Other_Charges_Amount})) &amp;&amp; 
ISBLANK({!Towards_Unit_Price_Amount}),{!Towards_Other_Charges_Amount}
,0)))))))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>fileIDsLength</name>
        <dataType>Number</dataType>
        <expression>LEN({!contentDocumentOutputRecordId})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <description>this is for second document POP</description>
        <name>fileIDsLength2</name>
        <dataType>Number</dataType>
        <expression>LEN({!contentDocumentOutputRecordId2})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>InstrumentDateFormula</name>
        <dataType>Date</dataType>
        <expression>if({!ModeRequester} == &apos;Cheque&apos;,{!Instrument_Date},today())</expression>
    </formulas>
    <formulas>
        <name>loggedInUser_ProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>UpdatedRequesterRecordId</name>
        <dataType>String</dataType>
        <expression>{!requesterRecordId}</expression>
    </formulas>
    <interviewLabel>Requester Flow 2.0- Create new Requester record {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Requester Flow 2.0- Create new Requester record</label>
    <loops>
        <name>Files_Loop</name>
        <label>Files Loop</label>
        <locationX>644</locationX>
        <locationY>1670</locationY>
        <collectionReference>Get_Files</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_ContentDocumentId_Info</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_File_Uploaded_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Requester_Record_0</name>
        <label>Create Requester Record</label>
        <locationX>644</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>requesterRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_2_0_Requester_Attachment_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_towards__c</field>
            <value>
                <elementReference>Amount_Towards</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>BookingLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instrument_Date__c</field>
            <value>
                <elementReference>Instrument_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instrument_Number__c</field>
            <value>
                <elementReference>Instrument_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>Get_Requester_User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_Of__c</field>
            <value>
                <elementReference>ModeRequester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_details.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others__c</field>
            <value>
                <elementReference>OthersRequester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_User__c</field>
            <value>
                <elementReference>RequesterUser_lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>Total_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toward_Pre_Registration_Amount__c</field>
            <value>
                <elementReference>Toward_Pre_Registration_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Towards_Other_Charges_Amount__c</field>
            <value>
                <elementReference>Towards_Other_Charges_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Towards_Unit_Price_Amount__c</field>
            <value>
                <elementReference>Towards_Unit_Price_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Requester__c</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Requester_Record_0_0</name>
        <label>Create Requester Record</label>
        <locationX>380</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>requesterRecordId</assignRecordIdToReference>
        <connector>
            <targetReference>Screen_2_0_Requester_Attachment_Form</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_towards__c</field>
            <value>
                <elementReference>Amount_Towards</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>BookingLookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Currency__c</field>
            <value>
                <elementReference>Currency3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instrument_Date__c</field>
            <value>
                <elementReference>Instrument_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Instrument_Number__c</field>
            <value>
                <elementReference>Instrument_No</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manager__c</field>
            <value>
                <elementReference>Get_Requester_User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_Of__c</field>
            <value>
                <elementReference>ModeRequester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Opportunity_details.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Others__c</field>
            <value>
                <elementReference>OthersRequester</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_User__c</field>
            <value>
                <elementReference>RequesterUser_lookup.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Amount__c</field>
            <value>
                <elementReference>Total_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Toward_Pre_Registration_Amount__c</field>
            <value>
                <elementReference>Toward_Pre_Registration_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Towards_Other_Charges_Amount__c</field>
            <value>
                <elementReference>Towards_Other_Charges_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Towards_Unit_Price_Amount__c</field>
            <value>
                <elementReference>Towards_Unit_Price_Amount</elementReference>
            </value>
        </inputAssignments>
        <object>Requester__c</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Requester_Record_0</name>
        <label>Delete Requester Record</label>
        <locationX>842</locationX>
        <locationY>2366</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>requesterRecordId</elementReference>
            </value>
        </filters>
        <object>Requester__c</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_ContentDocumentId_Info</name>
        <label>Get ContentDocumentId Info</label>
        <locationX>732</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_list_of_files</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Files_Loop.ContentDocumentId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Files</name>
        <label>Get Files</label>
        <locationX>644</locationX>
        <locationY>1550</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Files_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>requesterRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Newly_created_Requester_Record_Details</name>
        <label>Get Newly created Requester Record Details</label>
        <locationX>446</locationX>
        <locationY>2246</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_Role</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>requesterRecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Requester__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_details</name>
        <label>Get Opportunity details</label>
        <locationX>644</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Currency_Value</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BookingLookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Booking__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Requester_User</name>
        <label>Get Requester User</label>
        <locationX>611</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Charges_Amount_is_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RequesterUser_lookup.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>DisplayError</name>
        <label>DisplayError</label>
        <locationX>50</locationX>
        <locationY>974</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayAmounts</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(20, 74, 131);&quot;&gt;The Total amount provided in the above field is not valid.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(20, 74, 131);&quot;&gt;Provided Value : {!Total_Amount}&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 14px; color: rgb(20, 74, 131);&quot;&gt;Expected Value : {!Calculate_NumberFields}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>displayFilesNames_0_0</name>
        <label>displayFilesNames</label>
        <locationX>446</locationX>
        <locationY>2702</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Screen_4_0_Success_Message_0</targetReference>
        </connector>
        <fields>
            <name>RecofirmTextHeading_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;You have uploaded the below documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>DisplayAttachmentNames_0_0</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt;Uploaded Files-&lt;/b&gt;&lt;span style=&quot;font-size: 14px; font-family: tahoma;&quot;&gt; &lt;/span&gt;&lt;b style=&quot;font-size: 14px; font-family: tahoma; color: rgb(43, 15, 166);&quot;&gt;{!varFileTitleResultsRow}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p&gt;Please &lt;span style=&quot;color: rgb(68, 38, 202);&quot;&gt;confirm &lt;/span&gt;and &lt;span style=&quot;color: rgb(56, 60, 189);&quot;&gt;re-check&lt;/span&gt; the uploaded files.. &lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Other_charges_are_not_there</name>
        <label>Other charges are not there</label>
        <locationX>391</locationX>
        <locationY>518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OtherChargeserror</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(166, 31, 31);&quot;&gt;Please select a value in Other Charges if the amount is Towards Other Charges.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Requester Form Details</description>
        <name>Screen_1_0_RequesterForm</name>
        <label>Screen 1.0 Requester Form</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Requester_User</targetReference>
        </connector>
        <fields>
            <name>Heading01</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: serif; font-size: 26px;&quot;&gt;✔&lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 24px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 8px;&quot;&gt; &lt;/span&gt;&lt;span style=&quot;font-family: serif; font-size: 20px;&quot;&gt;New Requester Form&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BookingLookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Booking__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Booking</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Requester__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>RequesterUser_lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Requested_User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Requester User</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Requester__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>LoggedIn_UserRecordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Instrument_No</name>
            <dataType>String</dataType>
            <fieldText>Instrument No</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 32, 96); font-family: Tahoma, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Instrument No is the&lt;/span&gt;&lt;span style=&quot;color: rgb(68, 77, 199); font-family: Tahoma, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; Reference number&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 32, 96); font-family: Tahoma, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt; of the form provided by AR team&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>ModeRequester</name>
            <choiceReferences>Mode</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Credit Note</stringValue>
            </defaultValue>
            <fieldText>Mode</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Amount_Towards</name>
            <choiceReferences>AmountTowardsDropdown</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Amount Towards</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>ModeRequester</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Instrument_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Instrument Date</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 77, 199);&quot;&gt;Instrument Date&lt;/span&gt; is the date of banking the Cheque. Please enter the value since you&apos;ve selected &lt;span style=&quot;color: rgb(68, 77, 199);&quot;&gt;Mode &lt;/span&gt;as &lt;span style=&quot;color: rgb(68, 77, 199);&quot;&gt;Cheque&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Towards_Unit_Price_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Towards Unit Price Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>(1 AND 4) OR (2 AND 3)</conditionLogic>
                <conditions>
                    <leftValueReference>ModeRequester</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModeRequester</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Amount_Towards</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Unit Price</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModeRequester</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Toward_Pre_Registration_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Toward Pre-Registration Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>ModeRequester</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModeRequester</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModeRequester</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Amount_Towards</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Registration Amount</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Towards_Other_Charges_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Towards Other Charges Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
            <visibilityRule>
                <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
                <conditions>
                    <leftValueReference>ModeRequester</leftValueReference>
                    <operator>IsNull</operator>
                    <rightValue>
                        <booleanValue>false</booleanValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModeRequester</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>ModeRequester</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cheque</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Amount_Towards</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other Amount</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Total_Amount</name>
            <dataType>Number</dataType>
            <fieldText>Total Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Screen_1_0_RequesterForm_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_0_RequesterForm_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>OthersRequester</name>
                    <choiceReferences>Others</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Others</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Towards_Other_Charges_Amount</leftValueReference>
                            <operator>GreaterThanOrEqualTo</operator>
                            <rightValue>
                                <numberValue>0.01</numberValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Currency3</name>
                    <choiceReferences>Currency</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Currency</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ModeRequester</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Cash</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>CurrencyAsAED</name>
                    <fieldText>&lt;p&gt;Currency :  AED&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>ModeRequester</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>Cash</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Proceed</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Upload Attachments</description>
        <name>Screen_2_0_Requester_Attachment_Form</name>
        <label>Screen 2.0 Requester-Attachment Form</label>
        <locationX>644</locationX>
        <locationY>1430</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Files</targetReference>
        </connector>
        <fields>
            <name>Heading2</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-family: serif; color: rgb(31, 3, 3); font-size: 20px;&quot;&gt;✔ Upload Required Documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_2_0_Requester_Attachment_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_2_0_Requester_Attachment_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>POP</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>POP</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg,.png,.pdf,.doc,.txt,.jpeg,.bmp,.raw, .cr2, .nef, .orf, .sr2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>contentDocIds</name>
                        <value>
                            <elementReference>contentDocumentOutputRecordId2</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>requesterRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fileNames</name>
                        <value>
                            <elementReference>uploadedFilePOP</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>contentDocumentOutputRecordId2</assignToReference>
                        <name>contentDocIds</name>
                    </outputParameters>
                    <outputParameters>
                        <assignToReference>uploadedFilePOP</assignToReference>
                        <name>fileNames</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_2_0_Requester_Attachment_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>partydeclartionifany</name>
                    <extensionName>forceContent:fileUpload</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>3rd party declartion , if any</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>accept</name>
                        <value>
                            <stringValue>.jpg,.png,.pdf,.doc,.txt,.jpeg,.bmp,.raw, .cr2, .nef, .orf, .sr2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>multiple</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>requesterRecordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fileNames</name>
                        <value>
                            <elementReference>uploadedFilePOP</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>or</conditionLogic>
                        <conditions>
                            <leftValueReference>ModeRequester</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Cheque</stringValue>
                            </rightValue>
                        </conditions>
                        <conditions>
                            <leftValueReference>ModeRequester</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>CDM-cheque</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Warning</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-family: tahoma; color: rgb(234, 22, 22); font-size: 14px;&quot;&gt;*&lt;/b&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt; Click &lt;/span&gt;&lt;b style=&quot;font-family: tahoma;&quot;&gt;Next &lt;/b&gt;&lt;span style=&quot;font-family: tahoma;&quot;&gt;to confirm the attached documents&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(97, 98, 105);&quot;&gt;Emirates ID&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(97, 98, 105);&quot;&gt;&amp;nbsp;is an identity card issued by Federal Authority for Identity and Citizenship (UAE)&lt;/span&gt;&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>If User has not entered Required attachment, then display error message</description>
        <name>Screen_3_0_Display_Error_Message_0_0</name>
        <label>Screen 3.0 Display Error Message</label>
        <locationX>842</locationX>
        <locationY>2246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Go Back and Upload</backButtonLabel>
        <connector>
            <targetReference>Delete_Requester_Record_0</targetReference>
        </connector>
        <fields>
            <name>Warning_0_0</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b style=&quot;font-size: 16px; color: rgb(240, 16, 16); font-family: serif;&quot;&gt;Warning!&lt;/b&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;We cannot process further.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Please ensure that you have &lt;b&gt;submitted &lt;/b&gt;the necessary documents as per need. If not, you can still &lt;b&gt;go back&lt;/b&gt; and &lt;b&gt;upload &lt;/b&gt;the same...&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Cancel</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_4_0_Success_Message_0</name>
        <label>Screen 4.0 Success Message</label>
        <locationX>446</locationX>
        <locationY>2822</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Thankyou</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>ThankyouImage</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>horizontalAlignment</name>
                <value>
                    <stringValue>center</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Heading3</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;Request &lt;b&gt;{!Get_Newly_created_Requester_Record_Details.Name}&lt;/b&gt; has been generated.&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Submit</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Screen_1_0_RequesterForm</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TextTemplateFileInfo</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;{!Get_ContentDocumentId_Info.Title}.{!Get_ContentDocumentId_Info.FileExtension}&lt;/li&gt;&lt;/ul&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>ApplicantEmails</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Storing the newly created Content Document record id.</description>
        <name>contentDocumentOutputRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>contentDocumentOutputRecordId2</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Storing the newly created Content Version Record Id</description>
        <name>contentVersionRecordId</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LoggedIn_UserRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$User.Id</elementReference>
        </value>
    </variables>
    <variables>
        <description>Storing the newly created Requester record Id</description>
        <name>requesterRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>uploadedFileEmiratesID</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>uploadedFilePOP</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varFileTitleResultsRow</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
