force-app/main/default/flows/Resale_DocuSign_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Resale_Agreement</name>
        <label>Resale Agreement</label>
        <locationX>172</locationX>
        <locationY>306</locationY>
        <actionName>resaledocusignhandler1</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Resale_Agreement_Exists</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>resaleIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>resaledocusignhandler1</nameSegment>
        <outputParameters>
            <assignToReference>agreementExists</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Resale_DocuSign</name>
        <label>Send Resale DocuSign</label>
        <locationX>937</locationX>
        <locationY>319</locationY>
        <actionName>resaledocusignhandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_Resale</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>resaleIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>resaledocusignhandler</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Resale_Agreement_Exists</name>
        <label>Resale Agreement Exists</label>
        <locationX>519</locationX>
        <locationY>318</locationY>
        <defaultConnector>
            <targetReference>Resale_Agreement_does_not_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agreementExists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Resale_DocuSign</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Resale DocuSign Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resale DocuSign Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Resale_Agreement_does_not_exists</name>
        <label>Resale Agreement does not exists</label>
        <locationX>522</locationX>
        <locationY>545</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ResaleDocument</name>
            <fieldText>&lt;p&gt;Resale Agreement does not exists, Please Generate before sending to docusign&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Send_Resale</name>
        <label>Resale Status</label>
        <locationX>1184</locationX>
        <locationY>320</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>configuration</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Processing Resale for Docusign. Please close this screen and wait for Docusign status.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>57</locationX>
        <locationY>57</locationY>
        <connector>
            <targetReference>Resale_Agreement</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>agreementExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
