force-app/main/default/flows/Resale_Process_DocuSign_Automations.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Audit_Approval_Email_to_Authorized_Signatory</name>
        <label>Audit Approval Email to Authorized Signatory</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Resale_Process__c.Resale_Approval_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.DocuSignEnvelope__r.Resale_Process__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Resale_Process__c.Resale_Approval_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Audit_Team_Notification</name>
        <label>Audit Team Notification</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Resale_Process__c.Resale_CRM_Ops_Decline_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.DocuSignEnvelope__r.Resale_Process__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Resale_Process__c.Resale_CRM_Ops_Decline_Notification</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Authorized_Signatory_Completed_DocuSign</name>
        <label>Authorized Signatory Completed DocuSign</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Resale_Process__c.Resale_Proces_Authorized_Signatory_completed_docuSign_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.DocuSignEnvelope__r.Resale_Process__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Resale_Process__c.Resale_Proces_Authorized_Signatory_completed_docuSign_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Buyer_Completed_DocuSign</name>
        <label>Buyer Completed DocuSign</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Resale_Process__c.Resale_Proces_Buyer_completed_docuSign_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_resale_record</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.DocuSignEnvelope__r.Resale_Process__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Resale_Process__c.Resale_Proces_Buyer_completed_docuSign_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CRM_Ops_Completed_DocuSign</name>
        <label>CRM Ops Completed DocuSign</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Resale_Process__c.Resale_Proces_CRM_Ops_completed_docuSign_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Audit_Approval_Email_to_Authorized_Signatory</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.DocuSignEnvelope__r.Resale_Process__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Resale_Process__c.Resale_Proces_CRM_Ops_completed_docuSign_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Resale_Process_Seller_Declined_DocuSign</name>
        <label>Resale Process Seller Declined DocuSign</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Resale_Process__c.Resale_Proces_Seller_Declined_docuSign_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.DocuSignEnvelope__r.Resale_Process__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Resale_Process__c.Resale_Proces_Seller_Declined_docuSign_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Seller_Completed_DocuSign</name>
        <label>Seller Completed DocuSign</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Resale_Process__c.Resale_Proces_Seller_completed_docuSign_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.DocuSignEnvelope__r.Resale_Process__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Resale_Process__c.Resale_Proces_Seller_completed_docuSign_Alert</nameSegment>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <decisions>
        <name>Recipent_Type</name>
        <label>Recipent Type</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Resale_CRM_Ops</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Envelope_Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resale CRM Ops</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Buyer_Completed_DocuSign</targetReference>
            </connector>
            <label>Sent to Resale CRM Ops</label>
        </rules>
        <rules>
            <name>Resale_CRM_Ops_Decline</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Envelope_Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resale CRM Ops</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Audit_Team_Notification</targetReference>
            </connector>
            <label>Resale CRM Ops Decline</label>
        </rules>
        <rules>
            <name>Seller_Declined</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Envelope_Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seller</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Declined</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Resale_Process_Seller_Declined_DocuSign</targetReference>
            </connector>
            <label>Seller Declined</label>
        </rules>
        <rules>
            <name>Buyer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Envelope_Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Buyer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seller_Completed_DocuSign</targetReference>
            </connector>
            <label>Buyer</label>
        </rules>
        <rules>
            <name>CRM_Ops_Team_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Envelope_Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Resale CRM Ops</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CRM_Ops_Completed_DocuSign</targetReference>
            </connector>
            <label>CRM Ops Team Completed</label>
        </rules>
        <rules>
            <name>Authorized_Signatory</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Envelope_Recipient_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Authorized Signatory</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Authorized_Signatory_Completed_DocuSign</targetReference>
            </connector>
            <label>Authorized Signatory</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>resaleId</name>
        <dataType>String</dataType>
        <expression>{!$Record.DocuSignEnvelope__r.Resale_Process__c}</expression>
    </formulas>
    <interviewLabel>Resale Process DocuSign Automations {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Resale Process DocuSign Automations</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_resale_record</name>
        <label>Update resale record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>DocuSign_Completed_by_Buyer__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.DocuSignEnvelope__r.Resale_Process__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Recipent_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Envelope_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Resale process</stringValue>
            </value>
        </filters>
        <object>Docusign_Recipient_Status_Sobha__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
