force-app/main/default/flows/Send_Emails_for_Approval_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CHRMBrokerRegOpsRejected_brokerReg</name>
        <label>CHRMBrokerRegOpsRejected_brokerReg</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <actionName>Broker_Registration__c.CHRMBrokerRegOpsRejected_brokerReg</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.CHRMBrokerRegOpsRejected_brokerReg</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CHRMMgrRejection_brokerReg</name>
        <label>CHRMMgrRejection_brokerReg</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Broker_Registration__c.CHRMMgrRejection_brokerReg</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.CHRMMgrRejection_brokerReg</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CHRMOpsApproved_brokerReg_VC</name>
        <label>CHRMOpsApproved_brokerReg_VC</label>
        <locationX>1106</locationX>
        <locationY>431</locationY>
        <actionName>Broker_Registration__c.Channel_Ops_Approval_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.Channel_Ops_Approval_Email_Alert</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CHRMOpsApprovedBroker_Reg</name>
        <label>CHRMOpsApprovedBroker_Reg</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Broker_Registration__c.CHRMOpsApprovedBroker_Reg</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.CHRMOpsApprovedBroker_Reg</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CHRMOpsRejected_brokerReg_VC</name>
        <label>CHRMOpsRejected_brokerReg_VC</label>
        <locationX>1370</locationX>
        <locationY>431</locationY>
        <actionName>Broker_Registration__c.Audit_CHRMOpsRejected_brokerReg</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.Audit_CHRMOpsRejected_brokerReg</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_CHRM_Head_Approved</name>
        <label>Send Email to CHRM Head Approved</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Broker_Registration__c.CHRM_head_approved_brokerReg</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.CHRM_head_approved_brokerReg</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>check_Decesions_for_Status</name>
        <label>check Decesions for Status</label>
        <locationX>842</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pending_with_CHRM_OPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with CHRM OPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_CHRM_Head_Approved</targetReference>
            </connector>
            <label>Pending with CHRM OPS</label>
        </rules>
        <rules>
            <name>Rejected_by_CHRM_Head</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>CHRMMgrRejection_brokerReg</targetReference>
            </connector>
            <label>Rejected by CHRM Head</label>
        </rules>
        <rules>
            <name>Approved_Agreement_Is_in_process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved - Agreement Is in process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHRMOpsApprovedBroker_Reg</targetReference>
            </connector>
            <label>Approved - Agreement Is in process</label>
        </rules>
        <rules>
            <name>Rejected_Rejected_by_CHRM_OPS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected - Rejected by CHRM OPS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHRMBrokerRegOpsRejected_brokerReg</targetReference>
            </connector>
            <label>Rejected - Rejected by CHRM OPS</label>
        </rules>
        <rules>
            <name>Pending_with_Ashish_Parakh</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Pending with Ashish Parakh</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHRMOpsApproved_brokerReg_VC</targetReference>
            </connector>
            <label>Pending with Ashish Parakh</label>
        </rules>
        <rules>
            <name>Rejected_by_Audit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Audit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHRMOpsRejected_brokerReg_VC</targetReference>
            </connector>
            <label>Rejected by Audit</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Emails for Approval Process {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Emails for Approval Process</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_Decesions_for_Status</targetReference>
        </connector>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending with CHRM OPS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected - Rejected by CHRM Head</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved - Agreement Is in process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Rejected - Rejected by CHRM OPS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Broker_Registration__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
