force-app/main/default/flows/Send_Escalation_Email_for_Campaign_Leads.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_13_days_email_alert_CHRM_TL</name>
        <label>Copy 1 of 13 days email alert CHRM TL</label>
        <locationX>578</locationX>
        <locationY>384</locationY>
        <actionName>Events__c.CHRM_TL_Email_Alert_Campaign_Leads_13Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Events__c.CHRM_TL_Email_Alert_Campaign_Leads_13Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_6_day_email_alert</name>
        <label>Copy 1 of 6 day email alert</label>
        <locationX>1634</locationX>
        <locationY>384</locationY>
        <actionName>Events__c.CHRM_TL_Email_Alert_Campaign_Leads_6Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Events__c.CHRM_TL_Email_Alert_Campaign_Leads_6Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Copy_1_of_Send_email_to_CHRM_for_7_day_escalation</name>
        <label>Copy 1 of Copy 1 of Send email to CHRM for 7 day escalation</label>
        <locationX>1106</locationX>
        <locationY>384</locationY>
        <actionName>Events__c.CHRM_Email_Alert_Campaign_Leads_7Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Events__c.CHRM_Email_Alert_Campaign_Leads_7Days</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Copy_1_of_Send_Email_to_CHRM</name>
        <label>Copy 1 of Send Email to CHRM</label>
        <locationX>50</locationX>
        <locationY>384</locationY>
        <actionName>Events__c.CHRM_Email_Alert_Campaign_Leads_14Days</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Events__c.CHRM_Email_Alert_Campaign_Leads_14Days</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>check_campaign_field</name>
        <label>check campaign field</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>campaign_lead_null</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Leads__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Relationship_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Event_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Approved_status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Approved_status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Send_Email_to_CHRM</targetReference>
            </connector>
            <label>campaign lead = null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHRM_Manager_not_null</name>
        <label>CHRM Manager not null</label>
        <locationX>1238</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CHRM_manager_null</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Channel_Relationship_Manager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Event_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Approved_status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Approved_status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Send_email_to_CHRM_for_7_day_escalation</targetReference>
            </connector>
            <label>CHRM manager !=. null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_check_campaign_field</name>
        <label>Copy 1 of check campaign field</label>
        <locationX>710</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_campaign_lead_null</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Leads__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Relationship_Head__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Event_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Approved_status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Approved_status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_13_days_email_alert_CHRM_TL</targetReference>
            </connector>
            <label>Copy 1 of campaign lead = null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_check_campaign_field</name>
        <label>Copy 1 of Copy 1 of Copy 1 of check campaign field</label>
        <locationX>1766</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Copy_1_of_campaign_lead_null</name>
            <conditionLogic>1 AND 2 AND 3 AND (4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Campaign_Leads__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Channel_Relationship_Head__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Final_Event_Approval_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Approved_status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Pending</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Event_Approved_status__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_6_day_email_alert</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Copy 1 of campaign lead = null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>NextEmailDate13daysor6days</name>
        <dataType>Date</dataType>
        <expression>Today() + 1</expression>
    </formulas>
    <formulas>
        <name>RemainingDays</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Date_Of_Event__c}-DATEVALUE({!$Record.Escalation_Email_CHRM_Campaign_leads__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>UpdateEscalationDateto7thday</name>
        <dataType>Date</dataType>
        <expression>{!$Record.Date_Of_Event__c} - 7</expression>
    </formulas>
    <interviewLabel>Send Escalation Email for Campaign Leads {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Escalation Email for Campaign Leads</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>0</locationY>
        <object>Events__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X14daysAlert</name>
            <connector>
                <targetReference>check_campaign_field</targetReference>
            </connector>
            <label>14 days alert</label>
            <offsetNumber>-14</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Escalation_Email_CHRM_Campaign_leads__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X13daysalert</name>
            <connector>
                <targetReference>Copy_1_of_check_campaign_field</targetReference>
            </connector>
            <label>13days alert</label>
            <offsetNumber>-13</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Escalation_Email_CHRM_Campaign_leads__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X7daysbefore</name>
            <connector>
                <targetReference>CHRM_Manager_not_null</targetReference>
            </connector>
            <label>7 days before</label>
            <offsetNumber>-7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Escalation_Email_CHRM_Campaign_leads__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X6daysbefore</name>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_check_campaign_field</targetReference>
            </connector>
            <label>6 days before</label>
            <offsetNumber>-6</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Escalation_Email_CHRM_Campaign_leads__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
