force-app/main/default/flows/Send_XSD_To_Xpedeon.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_XSD</name>
        <label>Send XSD</label>
        <locationX>132</locationX>
        <locationY>666</locationY>
        <actionName>X_Service</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Record_sync_started</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>apiMethodName</name>
            <value>
                <stringValue>POST</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>X_Service</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Update_XSD_Status</name>
        <label>Update XSD Status</label>
        <locationX>142</locationX>
        <locationY>358</locationY>
        <assignmentItems>
            <assignToReference>RetreiveCurrentRecord.Sync_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SyncInProgressStatus</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_XSDs</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>SyncInProgressStatus</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sync in Progress</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Status_Sync_in_Progress</name>
        <label>Status - Sync in Progress?</label>
        <locationX>439</locationX>
        <locationY>325</locationY>
        <defaultConnector>
            <targetReference>Update_XSD_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RetreiveCurrentRecord.Sync_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SyncInProgressStatus</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Record_sync_started</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Update : Update sync_status__c</description>
    <environments>Default</environments>
    <interviewLabel>Send Record To Xpedeon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send XSD To Xpedeon</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>RetreiveCurrentRecord</name>
        <label>RetreiveCurrentRecord</label>
        <locationX>449</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Status_Sync_in_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Xpedeon_Sync_Delegate__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Sync_Status__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_XSDs</name>
        <label>Update XSDs</label>
        <locationX>143</locationX>
        <locationY>518</locationY>
        <connector>
            <targetReference>Send_XSD</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault_Screen</targetReference>
        </faultConnector>
        <inputReference>RetreiveCurrentRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Fault_Screen</name>
        <label>Fault Screen</label>
        <locationX>412</locationX>
        <locationY>562</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>DisplayFault</name>
            <fieldText>&lt;p&gt;Something went wrong. Please contact your Admin!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Record_sync_started</name>
        <label>Record sync started</label>
        <locationX>596</locationX>
        <locationY>670</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Succcess</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); font-family: tahoma;&quot;&gt;The related record has been scheduled to be sent to Xpedeon.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;font-size: 16px; color: rgb(0, 0, 0); font-family: tahoma;&quot;&gt;Please refresh the page in 5 minutes to check result of the sync.&lt;/span&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-family: tahoma; color: rgb(0, 0, 0); font-size: 16px;&quot;&gt;Howzat!&lt;/strong&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;br&gt;&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;&lt;img src=&quot;https://media2.giphy.com/media/v1.Y2lkPTc5MGI3NjExZGc3OHE2aDl0bjJ1Y25qenluaGtodHhjM2lrMDVleDFmdndqb3JxNiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3F1pInHV8vz5HXfAzM/giphy.gif&quot; alt=&quot;Home Moving GIF by TWO MEN AND A TRUCK®&quot;&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Close</nextOrFinishButtonLabel>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>323</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>RetreiveCurrentRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
