force-app/main/default/flows/Send_Booking_Form_for_Docusign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>bookingFormAttachment</name>
        <label>bookingFormAttachment</label>
        <locationX>669</locationX>
        <locationY>258</locationY>
        <actionName>BookingFormDocusignDocumentCreator</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Send_for_Docusign</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BookingFormDocusignDocumentCreator</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Booking_Form</name>
        <label>Send Booking Form</label>
        <locationX>247</locationX>
        <locationY>196</locationY>
        <actionName>BookingFormDocusignHandler1</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DocuSign_Status_Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BookingFormDocusignHandler1</nameSegment>
        <outputParameters>
            <assignToReference>docuSignExists</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_for_Docusign</name>
        <label>Send for Docusign</label>
        <locationX>727</locationX>
        <locationY>551</locationY>
        <actionName>BookingFormDocusignHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Docusign_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BookingFormDocusignHandler</nameSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>DocuSign_Status_Check</name>
        <label>DocuSign Status Check</label>
        <locationX>248</locationX>
        <locationY>358</locationY>
        <defaultConnector>
            <targetReference>Display_meesage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DocuSign_progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>docuSignExists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>bookingFormAttachment</targetReference>
            </connector>
            <label>DocuSign progress</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Booking Form for Docusign {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>Send Booking Form for Docusign</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_meesage</name>
        <label>Display meesage</label>
        <locationX>259</locationX>
        <locationY>553</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Message</name>
            <fieldText>&lt;p&gt;DocuSign status is in progress, Please complete/Void the existing record before sending new one&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Docusign_Confirmation</name>
        <label>Docusign Confirmation</label>
        <locationX>947</locationX>
        <locationY>489</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;Processing Booking Form for Docusign. Please close this screen and wait for Docusign status.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Send_Booking_Form</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>docuSignExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
