force-app/main/default/flows/Send_MOU_for_Docusign.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Check_MOU_Sent_For_Docusign_OR_Not</name>
        <label>Check MOU Sent For Docusign OR Not</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <actionName>MOUDocusignSentOrNot</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DocuSign_Status_Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>trIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MOUDocusignSentOrNot</nameSegment>
        <outputParameters>
            <assignToReference>docuSignExists</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_for_Docusign</name>
        <label>Send for Docusign</label>
        <locationX>754</locationX>
        <locationY>674</locationY>
        <actionName>MOUDocusignHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Docusign_Confirmation</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>transactionReqIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>MOUDocusignHandler</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>DocuSign_Status_Check</name>
        <label>DocuSign Status Check</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Check_File_Present_or_Not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DocuSign_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>docuSignExists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Message</targetReference>
            </connector>
            <label>DocuSign Progress</label>
        </rules>
    </decisions>
    <decisions>
        <name>MOU_Letter_Present_Or_Not</name>
        <label>MOU Letter Present Or Not</label>
        <locationX>886</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Enter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_File_Name.ContentDocument.Title</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>MOU Letter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_for_Docusign</targetReference>
            </connector>
            <label>Enter</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send MOU for Docusign {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send MOU for Docusign</label>
    <loops>
        <name>Check_File_Name</name>
        <label>Check File Name</label>
        <locationX>666</locationX>
        <locationY>458</locationY>
        <collectionReference>Check_File_Present_or_Not</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MOU_Letter_Present_Or_Not</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_File_Is_Not_Present</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Check_File_Present_or_Not</name>
        <label>Check File Present or Not</label>
        <locationX>666</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_File_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LinkedEntityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentDocumentLink</object>
        <sortField>SystemModstamp</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_Message</name>
        <label>Display Message</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;DocuSign status is in progress, Please complete/Void the existing Envelop before sending&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Docusign_Confirmation</name>
        <label>Docusign Confirmation</label>
        <locationX>754</locationX>
        <locationY>782</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Confirmation</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;MOU Letter successfully sent for signature(s).&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Show_File_Is_Not_Present</name>
        <label>Show File Is Not Present</label>
        <locationX>666</locationX>
        <locationY>1166</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There is no File Present with the name &quot;MOU Letter.pdf&quot; in Notes &amp;amp; Attachment.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_MOU_Sent_For_Docusign_OR_Not</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>docuSignExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
