force-app/main/default/flows/Send_Email_to_Channel_Manager_for_follow_up_with_broker.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Channel_Manager</name>
        <label>Send Email to Channel Manager</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <actionName>Broker_Registration__c.Broker_Registration_Channel_Manager_Agreement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Registration__c.Broker_Registration_Channel_Manager_Agreement</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>Check_If_Status_if_ready_to_Trigger_Email_to_CHRM_Manger</name>
        <label>Check If Status if ready to Trigger Email to CHRM Manger</label>
        <locationX>182</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Agreement created and sent for signature</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Channel_Manager</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_To_Update_CHRM_Email_on_Owner_Change</name>
        <label>Check To Update CHRM Email on Owner Change</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Check_If_Status_if_ready_to_Trigger_Email_to_CHRM_Manger</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CHRM_Email_to_Owner_s_Email</targetReference>
            </connector>
            <label>Yes Changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Send Email to Channel Manager for follow up with broker {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Email to Channel Manager for follow up with broker</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_CHRM_Email_to_Owner_s_Email</name>
        <label>Update CHRM Email to Owner&apos;s Email</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Check_If_Status_if_ready_to_Trigger_Email_to_CHRM_Manger</targetReference>
        </connector>
        <inputAssignments>
            <field>CHRM_Manager_Email__c</field>
            <value>
                <elementReference>$Record.Owner:User.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CHRM_Manager__c</field>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_To_Update_CHRM_Email_on_Owner_Change</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Agreement created and sent for signature</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Broker_Registration__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
