force-app/main/default/flows/Send_Renewal_Link.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Broker_Renew_Renewal_Link_Email_Action_1</name>
        <label>Broker Renew - Renewal Link Email Action 1</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <actionName>Broker_Renewal__c.Broker_Renew_Renewal_Link_Email</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Failure</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>RenewalRecordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Broker_Renewal__c.Broker_Renew_Renewal_Link_Email</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>BrokerAccountRenewalController_Action_1</name>
        <label>BrokerAccountRenewalController Action 1</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <actionName>BrokerAccountRenewalController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Renew_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>acRecord</name>
            <value>
                <elementReference>Get_Broker_Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>BrokerAccountRenewalController</nameSegment>
        <outputParameters>
            <assignToReference>RenewalRecordId</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>59.0</apiVersion>
    <assignments>
        <name>Assign_Renewal_Record_Id</name>
        <label>Assign Renewal Record Id</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>RenewalRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Broker_Record.Renewal_Record_Id__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Renew_Status</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Renewal_record_is_created</name>
        <label>Check if Renewal record is created</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Assign_Renewal_Record_Id</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Broker_Record.Renewal_Record_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BrokerAccountRenewalController_Action_1</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExpireDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} + 1</expression>
    </formulas>
    <interviewLabel>Send Renewal Link {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Renewal Link</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Broker_Record</name>
        <label>Get Broker Record</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Renewal_record_is_created</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Renew_Status</name>
        <label>Update Renew Status</label>
        <locationX>182</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Broker_Renew_Renewal_Link_Email_Action_1</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_on_Update_Renewal_Status</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Broker_Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Renewal_Record_Id__c</field>
            <value>
                <elementReference>RenewalRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Status__c</field>
            <value>
                <stringValue>Renewal Initiated</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <name>Error_on_Update_Renewal_Status</name>
        <label>Error on Update Renewal Status</label>
        <locationX>842</locationX>
        <locationY>650</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FaileedUpdate</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;There is some error on updating Renewal Status - {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Failure</name>
        <label>Failure</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailureText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;There is some error - {!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success</name>
        <label>Success</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessText</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong&gt;﻿Renewal link has been successfully sent.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Broker_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RenewalRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
