force-app/main/default/flows/Send_Payment_Request_Cancellation_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>send_Email</name>
        <label>send Email</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>SendEmailOnPaymentRequest</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>pr</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendEmailOnPaymentRequest</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Verify_List</name>
        <label>Verify List</label>
        <locationX>182</locationX>
        <locationY>587</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_NewSale_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_New_Sale</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>send_Email</targetReference>
            </connector>
            <label>If NewSale is empty</label>
        </rules>
    </decisions>
    <description>Fixed SOB-291, Added Underwriting Tower B, Underwriting</description>
    <environments>Default</environments>
    <interviewLabel>Send Payment Request Cancellation Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Payment Request Cancellation Notification(Non Tower R)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_New_Sale</name>
        <label>Get New Sale</label>
        <locationX>182</locationX>
        <locationY>479</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Verify_List</targetReference>
        </connector>
        <filterLogic>1 OR (2 AND 3)</filterLogic>
        <filters>
            <field>Payment_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Request__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Request__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Payment_Request__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>unit_hold_request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>((3 AND (1 OR 4))  OR (5 AND 6 AND (1 OR 4) ) ) AND 2 AND 7 AND 8 AND 9</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Booking__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mode_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Single Mode</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted to Accounts for Amount Confirmation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mode_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Multi Mode</stringValue>
            </value>
        </filters>
        <filters>
            <field>Secondary_Mode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tower_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Underwriting Tower B</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tower_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Underwriting</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tower_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Luxury Villas Tower 1</stringValue>
            </value>
        </filters>
        <object>Payment_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X24Hrs</name>
            <connector>
                <targetReference>Get_New_Sale</targetReference>
            </connector>
            <label>24Hrs</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Approved_Date_and_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>submitted_to_accounts</name>
            <connector>
                <targetReference>Get_New_Sale</targetReference>
            </connector>
            <label>submitted to accounts</label>
            <offsetNumber>24</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Submitted_to_Accounts_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
