force-app/main/default/flows/Send_Receipt_Cancelled_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Receipt_Cancelled_Notification</name>
        <label>Send Receipt Cancelled Notification</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Demand_Record_should_be_created</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddressesArray</name>
            <value>
                <elementReference>receipients</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>emailSubject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>emailBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedRecordId</name>
            <value>
                <elementReference>$Record.Booking__r.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Add_Primary_Applicant_Email_to_Receipients</name>
        <label>Add Primary Applicant Email to Receipients</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>receipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Booking__r.Primary_Applicant_Email__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>receipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.CollectionTeamEmail</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>receipients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.SF_Notifications</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Send_Receipt_Cancelled_Notification</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Demand_Record_should_be_created</name>
        <label>Demand Record should be created?</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Demand_Record_should_be_created_Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Cancellation_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insufficient Fund</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancellation_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Signature Irregular</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancellation_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Difference in Amount/Words</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Cancellation_Reason__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dormant / Closed Account</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Demand_Record</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Send_Email</name>
        <label>Send Email?</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Send_Email_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking__r.Primary_Applicant_Email__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Add_Primary_Applicant_Email_to_Receipients</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Added the unit no while demand is getting generated</description>
    <environments>Default</environments>
    <interviewLabel>Receipt Cancelled Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Receipt Cancelled Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Demand_Record</name>
        <label>Create Demand Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Booking__c</field>
            <value>
                <elementReference>$Record.Booking__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debit_Demanded__c</field>
            <value>
                <numberValue>1000.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Debit_Type__c</field>
            <value>
                <stringValue>Others</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Due_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GL_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Milestone_Name__c</field>
            <value>
                <stringValue>Cheque Dishonoured Charges</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quotation__c</field>
            <value>
                <elementReference>$Record.Demand__r.Quotation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receipt__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.Project_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Demand__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Send_Email</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Receipt_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mode__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Cheque</stringValue>
            </value>
        </filters>
        <object>Receipt__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>emailBody</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,

Receipt {!$Record.Name} has been cancelled.

Reason - {!$Record.Cancellation_Reason__c}</text>
    </textTemplates>
    <textTemplates>
        <name>emailSubject</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Receipt Cancelled - {!$Record.Name}</text>
    </textTemplates>
    <variables>
        <name>receipients</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
