force-app/main/default/flows/Send_Payment_Request_Cancellation_1Hr.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CancelPayment_0_0</name>
        <label>CancelPayment</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <actionName>CancelPaymentRequest1Hr</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>prList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CancelPaymentRequest1Hr</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>CancelPayment_0_0_0</name>
        <label>CancelPayment</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <actionName>CancelPaymentRequest1Hr</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>prList</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CancelPaymentRequest1Hr</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <description>3 hr PR</description>
    <environments>Default</environments>
    <interviewLabel>Send Payment Request Cancellation 1Hr {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Send Payment Request Cancellation 1Hr</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>5 AND 2 AND 4 AND (1 OR 3) AND 6 AND 7</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Partially Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>Mode_Option__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Multi Mode</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Submitted to Accounts for Amount Confirmation</stringValue>
            </value>
        </filters>
        <filters>
            <field>Secondary_Mode__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Booking__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Tower_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Underwriting Tower B</stringValue>
            </value>
        </filters>
        <filters>
            <field>Tower_Name__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Underwriting</stringValue>
            </value>
        </filters>
        <object>Payment_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>X1Hrs</name>
            <connector>
                <targetReference>CancelPayment_0_0</targetReference>
            </connector>
            <label>3Hrs</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Partially_Approved_Date_and_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>Submitted_to_Accounts</name>
            <connector>
                <targetReference>CancelPayment_0_0_0</targetReference>
            </connector>
            <label>Submitted to Accounts</label>
            <offsetNumber>3</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Submitted_to_Accounts_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>prList</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
