force-app/main/default/flows/SPA_Docusign_Applicant_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_SPA_for_Signing</name>
        <label>Send SPA for Signing</label>
        <locationX>757</locationX>
        <locationY>366</locationY>
        <actionName>SPADocusignBookingHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Message_Screen</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPADocusignBookingHandler</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_SPA_to_Customer</name>
        <label>Send SPA to Customer</label>
        <locationX>244</locationX>
        <locationY>176</locationY>
        <actionName>SPADocusignBookingHandler1</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>DocuSign_Status_Check</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>bookingIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SPADocusignBookingHandler1</nameSegment>
        <outputParameters>
            <assignToReference>docuSignExists</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>DocuSign_Status_Check</name>
        <label>DocuSign Status Check</label>
        <locationX>391</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>Display_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DocuSign_Progress</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>docuSignExists</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_SPA_for_Signing</targetReference>
            </connector>
            <label>DocuSign Progress</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SPA Docusign Applicant Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SPA Docusign Applicant Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Display_Message</name>
        <label>Display Message</label>
        <locationX>391</locationX>
        <locationY>637</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;DocuSign status is in progress, Please complete/Void the existing Envelop before sending&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Message_Screen</name>
        <label>Message Screen</label>
        <locationX>1080</locationX>
        <locationY>367</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SPA_text</name>
            <fieldText>&lt;p&gt;SPA successfully sent for signature(s)&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>124</locationX>
        <locationY>42</locationY>
        <connector>
            <targetReference>Send_SPA_to_Customer</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>docuSignExists</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
