force-app/main/default/flows/Temp_Update_Unit.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>If_Secondary_PR_is_not_blank</name>
        <label>If Secondary PR is not blank</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Update_unit_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Secondary_PR_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Payment_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_secondary_PR_unit</targetReference>
            </connector>
            <label>Secondary PR Available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Temp Update Unit {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Temp Update Unit</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>update_secondary_PR_unit</name>
        <label>update secondary PR unit</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Update_unit_status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Payment_Request__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.Update_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>Payment_Request__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_unit</name>
        <label>Update unit field on PR</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>If_Secondary_PR_is_not_blank</targetReference>
        </connector>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>$Record.Update_Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_unit_status</name>
        <label>Update unit status</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Update_Unit__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Unit_Status_Update_Remarks__c</field>
            <value>
                <stringValue>Status updated from Unit Update field in PR</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Status__c</field>
            <value>
                <stringValue>Hold</stringValue>
            </value>
        </inputAssignments>
        <object>Unit__c</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_unit</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Update_Unit__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Update_Unit__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Payment_Request__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
