force-app/main/default/flows/Time_Slot_for_Handover_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Home_orientation_Confirmation_Waves_Grande</name>
        <label>Home orientation Confirmation - Waves Grande</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <actionName>Time_Slot_For_Handover__c.Home_orientation_Confirmation_Waves_Grande</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Time_Slot_For_Handover__c.Home_orientation_Confirmation_Waves_Grande</nameSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>check_if_schedule_date_change_or_not</name>
        <label>check if schedule date change or not</label>
        <locationX>1238</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Scheduled_Date__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Handover_Date_on_Booking</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckRecordType</name>
        <label>Check Record Type</label>
        <locationX>644</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>is_Completed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>HandOver</defaultConnectorLabel>
        <rules>
            <name>Home_Orientation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Home_Orientation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_Orientation_Is_completed</targetReference>
            </connector>
            <label>Home_Orientation</label>
        </rules>
    </decisions>
    <decisions>
        <name>Home_Orientation_Is_completed</name>
        <label>Home Orientation Is completed</label>
        <locationX>248</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Waves_Grande_Confirm</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Booking_HO</targetReference>
            </connector>
            <label>Yes Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>is_Completed</name>
        <label>is Completed</label>
        <locationX>1040</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>check_if_schedule_date_change_or_not</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Completed</defaultConnectorLabel>
        <rules>
            <name>Completed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Completed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Booking_HandOver</targetReference>
            </connector>
            <label>Completed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Waves_Grande_Confirm</name>
        <label>Waves Grande Confirm</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>IF_Waves_Grande_Confirm</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Booking_Tower__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waves Grande</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Confirmed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Home_orientation_Confirmation_Waves_Grande</targetReference>
            </connector>
            <label>IF Waves Grande Confirm</label>
        </rules>
    </decisions>
    <description>Common Flow For Time Slot for handover</description>
    <environments>Default</environments>
    <interviewLabel>Time Slot for Handover Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Time Slot for Handover Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Booking_HandOver</name>
        <label>Update Booking HandOver</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Handover_Completed_del__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handover_Date__c</field>
            <value>
                <elementReference>$Record.Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handover_Schdule_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Booking__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update on booking that Home Orientation is completed and Date</description>
        <name>Update_Booking_HO</name>
        <label>Update Booking HO</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Home_Orientation_Completed_del__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Home_Orientation_Date__c</field>
            <value>
                <elementReference>$Record.LastModifiedDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Booking__r</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Take Schedule date from time slot for handover and Update on Booking</description>
        <name>Update_Handover_Date_on_Booking</name>
        <label>Update Handover Date on Booking</label>
        <locationX>1106</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Handover_Date__c</field>
            <value>
                <elementReference>$Record.Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Handover_Schdule_Date__c</field>
            <value>
                <elementReference>$Record.Scheduled_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record.Booking__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>518</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CheckRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastModifiedDate</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Time_Slot_For_Handover__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
