force-app/main/default/flows/Update_Task.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_from_Task</name>
        <label>Send Email from Task</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <actionName>CustomTaskController</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>taskId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>CustomTaskController</nameSegment>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <decisions>
        <name>Check_to_trigger_email</name>
        <label>Check to trigger email</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Customer_Interest_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Interested</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_Interested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Yes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Amount_To_Be_Paid_In_Advance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Discount_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Booking__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Expected_Date_Of_The_Payment__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_from_Task</targetReference>
            </connector>
            <label>If Customer Interest is true</label>
        </rules>
    </decisions>
    <formulas>
        <name>AddingDiscount</name>
        <dataType>Number</dataType>
        <expression>{!$Record.Amount_To_Be_Paid_In_Advance__c} + {!$Record.Discount_Amount__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>Verifybalance</name>
        <dataType>Number</dataType>
        <expression>if({!$Record.Booking__r.Full_Due__c}&gt;{!AddingDiscount},{!$Record.Amount_To_Be_Paid_In_Advance__c},{!$Record.Amount_To_Be_Paid_In_Advance__c} - {!$Record.Discount_Amount__c})</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Updation on Task {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Task</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Booking_Details</name>
        <label>Update Booking Details</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <connector>
            <targetReference>Check_to_trigger_email</targetReference>
        </connector>
        <inputAssignments>
            <field>Amount_To_Be_Paid_After_Discount__c</field>
            <value>
                <elementReference>Verifybalance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Balance__c</field>
            <value>
                <elementReference>$Record.Booking__r.Full_Due__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Project__c</field>
            <value>
                <elementReference>$Record.Booking_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Sale_Value__c</field>
            <value>
                <elementReference>$Record.Booking__r.Agreement_Value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Booking_Unit__c</field>
            <value>
                <elementReference>$Record.Booking__r.Unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Booking_Details</targetReference>
        </connector>
        <object>Task__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
