force-app/main/default/flows/Update_Manager_RequestforPayment.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>Verify_Owner</name>
        <label>Verify Owner</label>
        <locationX>611</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_Owner_s_Manager</targetReference>
            </connector>
            <label>Owner Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verify_Owner_s_Manager</name>
        <label>Verify Owner&apos;s Manager</label>
        <locationX>380</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_sManagerExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateOwner_sManager</targetReference>
            </connector>
            <label>Owner&apos;sManagerExist</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerifyUsersManagersManager</name>
        <label>VerifyUsersManagersManager</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manager_sManagerExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Manager.ManagerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpadateManagersManager</targetReference>
            </connector>
            <label>Manager&apos;sManagerExist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Manager RequestforPayment {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Manager RequestforPayment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpadateManagersManager</name>
        <label>UpadateManagersManager</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Owner_s_Manager_s_Manager__c</field>
            <value>
                <elementReference>$Record.Owner:User.Manager.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateOwner_sManager</name>
        <label>UpdateOwner&apos;sManager</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>VerifyUsersManagersManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Owner_s_Manager__c</field>
            <value>
                <elementReference>$Record.Owner:User.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <object>Proforma_Invoice__c</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Owner</targetReference>
        </connector>
        <object>Proforma_Invoice__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
